[package]
  name = "lightdotso-bin"
  description = "A bin library for lightdotso"
  version = "0.1.0"

  edition.workspace = true
  rust-version.workspace = true
  license.workspace = true
  homepage.workspace = true
  repository.workspace = true

  default-run = "cli"

[dependencies]
  aa-bundler-grpc = { workspace = true }
  aa-bundler-primitives = { workspace = true }
  aa-bundler-rpc = { workspace = true }
  anyhow = { workspace = true }
  axum = { workspace = true }
  clap = { workspace = true }
  eyre = { workspace = true }
  http = { workspace = true }
  lightdotso-indexer = { workspace = true }
  lightdotso-tracing = { workspace = true }
  ratatui = { version = "0.22.0", features = ["all-widgets"] }
  tokio = { workspace = true }
  tower = { workspace = true, features = [
    "full",
    "util",
    "timeout",
    "load-shed",
    "limit",
  ] }
  tower-http = { workspace = true, features = ["cors"] }

[build-dependencies]
  vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl"] }
