[package]
name = "lightdotso-bin"
description = "A bin library for wallet-rs"
version = "0.1.0"

edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
anyhow = { workspace = true }
axum = { workspace = true }
lightdotso-tracing = { workspace = true }
tokio = { workspace = true }

[build-dependencies]
vergen = { version = "8.0.0", features = ["build", "cargo", "git", "gitcl"] }
