[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
	branch = releases/v0.7
[submodule "lib/account-abstraction-v0.6"]
	path = lib/account-abstraction-v0.6
	url = https://github.com/LightDotSo/account-abstraction
	branch = releases/v0.6-patch
[submodule "lib/account-abstraction-v0.7"]
	path = lib/account-abstraction-v0.7
	url = https://github.com/eth-infinitism/account-abstraction
	branch = releases/v0.7
[submodule "lib/asynchronous-vault"]
	path = lib/asynchronous-vault
	url = https://github.com/AmphorProtocol/asynchronous-vault
[submodule "lib/asynchronous-vault-patch"]
	path = lib/asynchronous-vault-patch
	url = https://github.com/LightDotSo/asynchronous-vault
	branch = patch
[submodule "lib/core-modules"]
	path = lib/core-modules
	url = https://github.com/rhinestonewtf/core-modules
[submodule "lib/core-modules-patch"]
	path = lib/core-modules-patch
	url = https://github.com/LightDotSo/core-modules
	branch = patch
[submodule "lib/create3"]
	path = lib/create3
	url = https://github.com/0xsequence/create3
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/erc7579-implementation"]
	path = lib/erc7579-implementation
	url = https://github.com/erc7579/erc7579-implementation
[submodule "lib/excessively-safe-call"]
	path = lib/excessively-safe-call
	url = https://github.com/nomad-xyz/ExcessivelySafeCall
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/halmos-cheatcodes"]
	path = lib/halmos-cheatcodes
	url = https://github.com/a16z/halmos-cheatcodes
[submodule "lib/kernel"]
	path = lib/kernel
	url = https://github.com/zerodevapp/kernel
[submodule "lib/magic-spend"]
	path = lib/magic-spend
	url = https://github.com/LightDotSo/magic-spend
	branch = bump
[submodule "lib/magic-spend-patch"]
	path = lib/magic-spend-patch
	url = https://github.com/LightDotSo/magic-spend
	branch = patch
[submodule "lib/module-bases"]
	path = lib/module-bases
	url = https://github.com/rhinestonewtf/module-bases
[submodule "lib/modulekit"]
	path = lib/modulekit
	url = https://github.com/rhinestonewtf/modulekit
[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "lib/nexus"]
	path = lib/nexus
	url = https://github.com/bcnmy/nexus
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v5.0
[submodule "openzeppelin-contracts-v4.9"]
	path = lib/openzeppelin-contracts-v4.9
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "openzeppelin-contracts-v5.0"]
	path = lib/openzeppelin-contracts-v5.0
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v5.0
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = release-v5.0
[submodule "openzeppelin-contracts-upgradeable-v4.9"]
	path = lib/openzeppelin-contracts-upgradeable-v4.9
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = release-v4.9
[submodule "openzeppelin-contracts-upgradeable-v5.0"]
	path = lib/openzeppelin-contracts-upgradeable-v5.0
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = release-v5.0
[submodule "lib/registry"]
	path = lib/registry
	url = https://github.com/rhinestonewtf/registry
[submodule "lib/safe-contracts"]
	path = lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
[submodule "lib/scw-contracts"]
	path = lib/scw-contracts
	url = https://github.com/bcnmy/scw-contracts
[submodule "lib/seaport"]
	path = lib/seaport
	url = https://github.com/ProjectOpenSea/seaport
[submodule "lib/sentinellist"]
	path = lib/sentinellist
	url = https://github.com/rhinestonewtf/sentinellist
[submodule "lib/singleton-paymaster"]
	path = lib/singleton-paymaster
	url = https://github.com/pimlicolabs/singleton-paymaster
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/soul-wallet-contract"]
	path = lib/soul-wallet-contract
	url = https://github.com/proofofsoulprotocol/soul-wallet-contract
[submodule "lib/surl"]
	path = lib/surl
	url = https://github.com/memester-xyz/surl
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/wallet-contracts"]
	path = lib/wallet-contracts
	url = https://github.com/LightDotSo/wallet-contracts
	branch = bump
[submodule "lib/wallet-contracts-patch"]
	path = lib/wallet-contracts-patch
	url = https://github.com/LightDotSo/wallet-contracts
	branch = patch
[submodule "lib/wallet-contracts-v3"]
	path = lib/wallet-contracts-v3
	url = https://github.com/0xsequence/wallet-contracts
[submodule "wiki"]
	path = wiki
	url = https://github.com/LightDotSo/LightDotSo.wiki.git
