generated.ts

apps/docs/src/pages/posts/**/*.mdx
apps/subgraph/generated/**/*.ts
apps/ui/src/components/**
apps/extension/**
configurations/prisma/src/zod/**
ios/LightWallet
ios/LightWalletSafariExtension/Resources/**

*.html
*.xcarchive

pnpm-lock.yaml
pnpm-workspace.yaml

.build
.changeset
.next
.rustc_info.json

build
debug
dist
fastlane
lib
out
out-wagmi
target

