generated.ts

apps/docs/src/pages/posts/**/*.mdx
apps/subgraph/generated/**/*.ts
!apps/ui/src/components/ui/**.stories.tsx
apps/ui/src/components/ui/**.tsx
apps/extension/**
configurations/prisma/src/zod/**
crates/solutions/tests/samples/**
packages/client/src/*.d.ts
ios/LightWallet
ios/LightWalletSafariExtension/Resources/**

*.graphql
*.html
*.xcarchive

pnpm-lock.yaml
pnpm-workspace.yaml

.build
.changeset
.next
.rustc_info.json

build
debug
dist
fastlane
lib
out
out-wagmi
target
