[workspace]
resolver = "2"

members = [
  "bin",
  "apps/desktop/src-tauri",
  "crates/core",
  "crates/keychain",
  "crates/tracing",
  "tools/embedded-scopelint",
  "tools/embedded-uniffi-bindgen"
]

default-members = ["bin"]

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.70"
license = "AGPL-3.0-or-later"
homepage = "https://github.com/LightDotSo/LightDotSo"
repository = "https://github.com/LightDotSo/LightDotSo"

# Ref: https://www.uffizzi.com/blog/optimizing-rust-builds-for-faster-github-actions-pipelines

[profile.dev]
opt-level = 0
codegen-units = 16

# https://stackoverflow.com/a/54842093
[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true

[workspace.dependencies]
anyhow = "1.0.71"
axum = "0.6.18"
lightdotso-tracing = { path = "./crates/tracing" }
tokio = { version = "1", features = ["full"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = [
  "env-filter",
  "fmt",
  "json",
  "std",
] }
uniffi = "0.23.0"
