version: "3"
services:
  postgres:
    image: postgres:15.3
    restart: always
    ports:
      - "6500:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: neon
    volumes:
      - postgres-db:/var/lib/postgresql/data
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis:/data
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9091:9091"
    volumes:
      - prometheus-data:/prometheus-data
volumes:
  postgres-db:
  redis:
  prometheus-data:
