[profile.default]
  auto_detect_remappings = false
  evm_version = "cancun"
  gas_reports = ["LightWallet", "LightWalletFactory"]
  optimizer = true
  optimizer_runs = 10_000
  solc = "0.8.27"
  src = "contracts/src"
  test = "contracts/test"
  verbosity = 3
  via_ir = false
  # known error codes are: ["unreachable", "unused-return", "unused-param", "unused-var", "code-size", "shadowing", "func-mutability", "license", "pragma-solidity", "virtual-interfaces", "same-varname"]
  # ignored_error_codes = ["license", "code-size"]

[profile.check]
  verbosity = 0

[profile.deploy]
  optimizer_runs = 4_294_967_295
  # via_ir = true
  out = 'optimized-out'
  script = 'contracts'
  bytecode_hash = 'none'
  src = 'contracts'

[profile.local]
  no_match_test = "test(Fork|Fuzz|Invariant)"

[profile.ci]
  fuzz = { runs = 5000 }
  invariant = { runs = 1000 }
  verbosity = 2
  no_match_test = "test(Fork)"

[profile.fork]
  test = "contracts/test/fork"

[profile.noir]
  fs_permissions = [{ access = "read", path = "contracts/circuits/proofs" }]
  test = "contracts/circuits/test"

[profile.script]
  optimizer = true
  optimizer_runs = 200
  ffi = true
  test = "contracts/script/test"
  fs_permissions = [{ access = "read-write", path = "./tmp.json" }]

  [profile.script.optimizer_details]
    constantOptimizer = false
    yul = false

[profile.smt]
  [profile.smt.model_checker]
    engine = "chc"
    invariants = ["contract", "reentrancy"]
    show_unproved = true
    timeout = 300_000

    [profile.smt.model_checker.contracts]
      "contracts/src/LightDAG.sol" = ["LightDAG"]
      "contracts/src/LightPaymaster.sol" = ["LightPaymaster"]
      "contracts/src/LightTimelockController.sol" = ["LightTimelockController"]
      "contracts/src/LightTimelockControllerFactory.sol" = [
        "LightTimelockControllerFactory",
      ]
      "contracts/src/LightWallet.sol" = ["LightWallet"]
      "contracts/src/LightWalletFactory.sol" = ["LightWalletFactory"]
      "contracts/src/LightVault.sol" = ["LightVault"]
      "contracts/src/LightVaultFactory.sol" = ["LightVaultFactory"]

[doc]
  ignore = ["**/*.t.sol"]
  out = "docs"
  repository = "https://github.com/LightDotSo/LightDotSo"

[fmt]
  bracket_spacing = false
  int_types = "long"
  line_length = 100
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  anvil = "http://localhost:8545"
  localhost = "http://localhost:8545"
  mainnet = "${PROTECTED_RPC_URL}/1"
  optimism = "${PROTECTED_RPC_URL}/10"
  bsc = "${PROTECTED_RPC_URL}/56"
  gnosis = "${PROTECTED_RPC_URL}/100"
  polygon = "${PROTECTED_RPC_URL}/137"
  arbitrum = "${PROTECTED_RPC_URL}/42161"
  avalanche = "${PROTECTED_RPC_URL}/43114"
  sepolia = "${PROTECTED_RPC_URL}/11155111"
