[profile.default]
  auto_detect_remappings = false
  evm_version = "london"
  libs = [
    "lib/account-abstraction",
    "lib/ds-test",
    "lib/forge-std",
    # "lib/kernel",
    "lib/openzeppelin-contracts",
    "lib/openzeppelin-contracts-upgradeable",
    "lib/safe-contracts",
    "lib/solady",
    "lib/solmate",
    # "lib/soul-wallet-contract",
    "lib/v3-periphery",
  ]
  gas_reports = ["LightWallet", "LightWalletFactory"]
  optimizer = true
  optimizer_runs = 10_000
  solc = "0.8.18"
  src = "contracts/src"
  test = "contracts/test"
  verbosity = 3
  via_ir = false

[profile.deploy]
  optimizer_runs = 4_294_967_295
  # via_ir = true
  out = 'optimized-out'
  script = 'contracts'
  bytecode_hash = 'none'
  test = 'contracts'

[profile.local]
  no_match_test = "test(Fork|Fuzz|Invariant)"

[profile.ci]
  fuzz = { runs = 5000 }
  invariant = { runs = 1000 }
  verbosity = 2
  no_match_test = "test(Fork)"

[profile.fork]
  test = "contracts/test/fork"

[profile.noir]
  fs_permissions = [{ access = "read", path = "contracts/circuits/proofs" }]
  test = "contracts/circuits/test"

[profile.smt]
  [profile.smt.model_checker]
    engine = "chc"
    invariants = ["contract", "reentrancy"]
    show_unproved = true
    timeout = 300_000

    [profile.smt.model_checker.contracts]
      "contracts/src/LightWallet.sol" = ["LightWallet"]
      "contracts/src/LightWalletFactory.sol" = ["LightWalletFactory"]

[doc]
  ignore = ["**/*.t.sol"]
  out = "docs"
  repository = "https://github.com/LightDotSo/LightDotSo"

[rpc_endpoints]
  localhost = "http://localhost:8545"
  arbitrum = "${PROTECTED_RPC_URL}/42161"
  bnb = "${PROTECTED_RPC_URL}/56"
  gnosis = "${PROTECTED_RPC_URL}/100"
  mainnet = "${PROTECTED_RPC_URL}/1"
  optimism = "${PROTECTED_RPC_URL}/10"
  polygon = "${PROTECTED_RPC_URL}/137"
  sepolia = "${PROTECTED_RPC_URL}/11155111"
