# fly.toml app configuration file generated for lightdotso-api on 2023-09-12T12:31:32-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "lightdotso-api"
primary_region = "sjc"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  entrypoint = ["/usr/local/bin/api"]

[build]
  image = "ghcr.io/lightdotso/lightdotso:sha-89759e6c9dddeaac9cf5bfc0350e6f57db4a9b6a"

[deploy]
  strategy = "bluegreen"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200

[checks]
  [checks.health]
    port = 9091
    type = "http"
    interval = "15s"
    timeout = "10s"
    grace_period = "30s"
    method = "get"
    path = "/health"

[metrics]
  port = 9091
  path = "/metrics"
