[package]
  name = "lightdotso-rpc"

  version.workspace = true
  edition.workspace = true
  rust-version.workspace = true
  license.workspace = true
  homepage.workspace = true
  repository.workspace = true

[dependencies]
  axum = { workspace = true }
  clap = { workspace = true }
  eyre = { workspace = true }
  futures-util = { workspace = true }
  hyper = { workspace = true }
  lazy_static = { workspace = true }
  lightdotso-tracing = { workspace = true }
  serde = { workspace = true }
  serde_json = { workspace = true }
  tokio = { workspace = true }
  tower = { workspace = true }
  tower-http = { workspace = true }
