@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --font-inter: "Inter", -apple-system, system-ui, BlinkMacSystemFont,
      "Helvetica Neue", "Helvetica", sans-serif;

    --background: #fcfcfc;
    --background-body: #ffffff;
    --background-overlay: #00000070;
    --background-strong: #f8f8f8;
    --background-stronger: #ededed;
    --background-strongest: #e2e2e2;
    --background-weak: #fcfcfc;
    --background-destructive: #e5484d;
    --background-destructive-strong: #dc3d43;
    --background-destructive-stronger: #cd2b31;
    --background-destructive-strongest: #381316;
    --background-destructive-weak: #eb9091;
    --background-destructive-weaker: #f9c6c6;
    --background-destructive-weakest: #fff8f8;
    --background-error: #c72323;
    --background-error-strong: #750c0c;
    --background-error-stronger: #4a0b0b;
    --background-error-strongest: #310c0c;
    --background-error-weakest: #fef5f5;
    --background-info: #0091ff;
    --background-info-weakest: #f5faff;
    --background-body-inverse: #171717;
    --background-inverse: #171717;
    --background-inverse-strong: #8f8f8f;
    --background-inverse-stronger: #c7c7c7;
    --background-primary: #171717;
    --background-primary-strong: #0d0d0d;
    --background-primary-stronger: #0d0d0d;
    --background-primary-strongest: #0d0d0d;
    --background-primary-weak: #6f6f6f;
    --background-primary-weaker: #e2e2e2;
    --background-primary-weakest: #f8f8f8;
    --background-success: #30a46c;
    --background-success-weakest: #e5fbeb;
    --background-warning: #f76808;
    --background-warning-weakest: #fef8f4;
    --border: #ededed;
    --border-strong: #c7c7c7;
    --border-weak: #f3f3f3;
    --border-weaker: #f8f8f8;
    --border-weakest: #fcfcfc;
    --border-destructive: #e5484d;
    --border-destructive-strong: #dc3d43;
    --border-destructive-stronger: #cd2b31;
    --border-destructive-strongest: #381316;
    --border-destructive-weak: #eb9091;
    --border-destructive-weaker: #f9c6c6;
    --border-destructive-weakest: #fff8f8;
    --border-error: #c72323;
    --border-error-strong: #750c0c;
    --border-error-stronger: #4a0b0b;
    --border-error-strongest: #310c0c;
    --border-error-weak: #f58a8a;
    --border-error-weaker: #fccfcf;
    --border-error-weakest: #feecec;
    --border-info: #0091ff;
    --border-info-weak: #b7d9f8;
    --border-info-weaker: #e1f0ff;
    --border-info-weakest: #f5faff;
    --border-inverse: #8891aa;
    --border-inverse-strong: #e1e3ea;
    --border-inverse-stronger: #f4f4f6;
    --border-inverse-strongest: #ffffff;
    --border-inverse-weaker: #394762;
    --border-inverse-weakest: #121c2d;
    --border-primary: #171717;
    --border-primary-strong: #171717;
    --border-primary-stronger: #171717;
    --border-primary-strongest: #000000;
    --border-primary-weak: #c7c7c7;
    --border-primary-weaker: #ededed;
    --border-primary-weakest: #f8f8f8;
    --border-success: #30a46c;
    --border-success-weak: #5bb98c;
    --border-success-weaker: #b4dfc4;
    --border-success-weakest: #ddf3e4;
    --border-warning: #f76808;
    --border-warning-weak: #ffcca7;
    --border-warning-weaker: #ffe8d7;
    --border-warning-weakest: #fef8f4;
    --data-visualization-1: #001489;
    --data-visualization-10: #eb5656;
    --data-visualization-2: #0e7c3a;
    --data-visualization-3: #0d3a1f;
    --data-visualization-4: #008cff;
    --data-visualization-5: #394762;
    --data-visualization-6: #a67fe3;
    --data-visualization-7: #6d2ed1;
    --data-visualization-8: #8891aa;
    --data-visualization-9: #750c0c;
    --text: #171717;
    --text-weak: #858585;
    --text-weaker: #e2e2e2;
    --text-weakest: #ededed;
    --text-destructive: #c72323;
    --text-destructive-strong: #ad1111;
    --text-destructive-stronger: #4a0b0b;
    --text-destructive-strongest: #310c0c;
    --text-destructive-weak: #f6b1b1;
    --text-error: #c72323;
    --text-error-strong: #750c0c;
    --text-error-stronger: #4a0b0b;
    --text-error-strongest: #310c0c;
    --text-error-weak: #eb5656;
    --text-icon: #171717;
    --text-icon-error: #c72323;
    --text-icon-info: #0081f1;
    --text-icon-inverse: #8891aa;
    --text-icon-success: #0b602d;
    --text-icon-warning: #8d3118;
    --text-icon-weaker: #8f8f8f;
    --text-info: #0081f1;
    --text-info-strong: #0091ff;
    --text-inverse: #ffffff;
    --text-inverse-weak: #ededed;
    --text-inverse-weaker: #c7c7c7;
    --text-inverse-weakest: #858585;
    --text-link: #0263e0;
    --text-link-strong: #001489;
    --text-link-stronger: #030b5d;
    --text-link-strongest: #06033a;
    --text-link-weak: #99cdff;
    --text-link-destructive: #c72323;
    --text-link-destructive-strong: #ad1111;
    --text-link-destructive-stronger: #4a0b0b;
    --text-link-destructive-strongest: #310c0c;
    --text-link-destructive-weak: #f6b1b1;
    --text-primary: #171717;
    --text-primary-strong: #001489;
    --text-primary-stronger: #030b5d;
    --text-primary-strongest: #06033a;
    --text-primary-weak: #99cdff;
    --text-success: #30a46c;
    --text-warning: #8d3118;
    --text-warning-strong: #8d3118;
  }

  .dark {
    --background: #161616;
    --background-body: #0d0d0d;
    --background-overlay: #00000070;
    --background-strong: #1c1c1c;
    --background-stronger: #282828;
    --background-strongest: #343434;
    --background-weak: #161616;
    --background-destructive: #e5484d;
    --background-destructive-strong: #f2555a;
    --background-destructive-stronger: #ff6369;
    --background-destructive-strongest: #feecee;
    --background-destructive-weak: #aa2429;
    --background-destructive-weaker: #671e22;
    --background-destructive-weakest: #381316;
    --background-error: #d61f1f;
    --background-error-strong: #f58a8a;
    --background-error-stronger: #fccfcf;
    --background-error-strongest: #feecec;
    --background-error-weakest: #121c2d;
    --background-info: #0091ff;
    --background-info-weakest: #0f1b2d;
    --background-body-inverse: #161616;
    --background-inverse: #161616;
    --background-inverse-strong: #282828;
    --background-inverse-stronger: #505050;
    --background-primary: #ededed;
    --background-primary-strong: #a0a0a0;
    --background-primary-stronger: #343434;
    --background-primary-strongest: #1c1c1c;
    --background-primary-weak: #ffffff;
    --background-primary-weaker: #ffffff;
    --background-primary-weakest: #ffffff;
    --background-success: #30a46c;
    --background-success-weakest: #0d1912;
    --background-warning: #f76808;
    --background-warning-weakest: #2b1400;
    --border: #282828;
    --border-strong: #505050;
    --border-weak: #232323;
    --border-weaker: #1c1c1c;
    --border-weakest: #161616;
    --border-destructive: #e5484d;
    --border-destructive-strong: #f2555a;
    --border-destructive-stronger: #ff6369;
    --border-destructive-strongest: #feecee;
    --border-destructive-weak: #aa2429;
    --border-destructive-weaker: #671e22;
    --border-destructive-weakest: #291415;
    --border-error: #d61f1f;
    --border-error-strong: #f58a8a;
    --border-error-stronger: #fccfcf;
    --border-error-strongest: #feecec;
    --border-error-weak: #ad1111;
    --border-error-weaker: #ad1111;
    --border-error-weakest: #310c0c;
    --border-info: #0091ff;
    --border-info-weak: #0d3868;
    --border-info-weaker: #102a4c;
    --border-info-weakest: #0f1b2d;
    --border-inverse: #8891aa;
    --border-inverse-strong: #e1e3ea;
    --border-inverse-stronger: #f4f4f6;
    --border-inverse-strongest: #ffffff;
    --border-inverse-weaker: #394762;
    --border-inverse-weakest: #121c2d;
    --border-primary: #ededed;
    --border-primary-strong: #ededed;
    --border-primary-stronger: #ededed;
    --border-primary-strongest: #ffffff;
    --border-primary-weak: #343434;
    --border-primary-weaker: #282828;
    --border-primary-weakest: #1c1c1c;
    --border-success: #30a46c;
    --border-success-weak: #236e4a;
    --border-success-weaker: #164430;
    --border-success-weakest: #113123;
    --border-warning: #f76808;
    --border-warning-weak: #5f2a06;
    --border-warning-weaker: #441f04;
    --border-warning-weakest: #2b1400;
    --data-visualization-1: #0263e0;
    --data-visualization-10: #e8b407;
    --data-visualization-2: #c8aff0;
    --data-visualization-3: #606b85;
    --data-visualization-4: #66b3ff;
    --data-visualization-5: #0e7c3a;
    --data-visualization-6: #fa9950;
    --data-visualization-7: #c35323;
    --data-visualization-8: #f6b1b1;
    --data-visualization-9: #8c5bd8;
    --text: #ededed;
    --text-weak: #7e7e7e;
    --text-weaker: #343434;
    --text-weakest: #282828;
    --text-destructive: #eb5656;
    --text-destructive-strong: #f6b1b1;
    --text-destructive-stronger: #f6b1b1;
    --text-destructive-strongest: #ffffff;
    --text-destructive-weak: #394762;
    --text-error: #eb5656;
    --text-error-strong: #f6b1b1;
    --text-error-stronger: #feecec;
    --text-error-strongest: #feecec;
    --text-error-weak: #eb5656;
    --text-icon: #ededed;
    --text-icon-error: #eb5656;
    --text-icon-info: #369eff;
    --text-icon-inverse: #8891aa;
    --text-icon-success: #36d576;
    --text-icon-warning: #ffb37a;
    --text-icon-weaker: #707070;
    --text-info: #369eff;
    --text-info-strong: #0091ff;
    --text-inverse: #ffffff;
    --text-inverse-weak: #ededed;
    --text-inverse-weaker: #282828;
    --text-inverse-weakest: #161616;
    --text-link: #008cff;
    --text-link-strong: #99cdff;
    --text-link-stronger: #ebf4ff;
    --text-link-strongest: #ffffff;
    --text-link-weak: #394762;
    --text-link-destructive: #eb5656;
    --text-link-destructive-strong: #f6b1b1;
    --text-link-destructive-stronger: #f6b1b1;
    --text-link-destructive-strongest: #ffffff;
    --text-link-destructive-weak: #394762;
    --text-primary: #ededed;
    --text-primary-strong: #99cdff;
    --text-primary-stronger: #99cdff;
    --text-primary-strongest: #ffffff;
    --text-primary-weak: #394762;
    --text-success: #30a46c;
    --text-warning: #ffb37a;
    --text-warning-strong: #fac2a0;
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
