@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --font-inter: "Inter", -apple-system, system-ui, BlinkMacSystemFont,
      "Helvetica Neue", "Helvetica", sans-serif;

    --background: 0 0% 99%;
    --background-body: 0 0% 100%;
    --background-overlay: 0 0% 0% / 0.44;
    --background-strong: 0 0% 97%;
    --background-stronger: 0 0% 93%;
    --background-strongest: 0 0% 89%;
    --background-weak: 0 0% 99%;
    --background-destructive: 358 75% 59%;
    --background-destructive-strong: 358 69% 55%;
    --background-destructive-stronger: 358 65% 49%;
    --background-destructive-strongest: 355 49% 15%;
    --background-destructive-weak: 359 69% 74%;
    --background-destructive-weaker: 0 81% 88%;
    --background-destructive-weakest: 0 100% 99%;
    --background-error: 0 70% 46%;
    --background-error-strong: 0 81% 25%;
    --background-error-stronger: 0 74% 17%;
    --background-error-strongest: 0 61% 12%;
    --background-error-weakest: 0 82% 98%;
    --background-info: 206 100% 50%;
    --background-info-weakest: 210 100% 98%;
    --background-body-inverse: 0 0% 9%;
    --background-inverse: 0 0% 9%;
    --background-inverse-strong: 0 0% 56%;
    --background-inverse-stronger: 0 0% 78%;
    --background-primary: 0 0% 9%;
    --background-primary-strong: 0 0% 5%;
    --background-primary-stronger: 0 0% 5%;
    --background-primary-strongest: 0 0% 5%;
    --background-primary-weak: 0 0% 44%;
    --background-primary-weaker: 0 0% 89%;
    --background-primary-weakest: 0 0% 97%;
    --background-success: 151 55% 42%;
    --background-success-weakest: 136 73% 94%;
    --background-warning: 24 94% 50%;
    --background-warning-weakest: 24 83% 98%;
    --border: 0 0% 93%;
    --border-strong: 0 0% 78%;
    --border-weak: 0 0% 95%;
    --border-weaker: 0 0% 97%;
    --border-weakest: 0 0% 99%;
    --border-destructive: 358 75% 59%;
    --border-destructive-strong: 358 69% 55%;
    --border-destructive-stronger: 358 65% 49%;
    --border-destructive-strongest: 355 49% 15%;
    --border-destructive-weak: 359 69% 74%;
    --border-destructive-weaker: 0 81% 88%;
    --border-destructive-weakest: 0 100% 99%;
    --border-error: 0 70% 46%;
    --border-error-strong: 0 81% 25%;
    --border-error-stronger: 0 74% 17%;
    --border-error-strongest: 0 61% 12%;
    --border-error-weak: 0 84% 75%;
    --border-error-weaker: 0 88% 90%;
    --border-error-weakest: 0 90% 96%;
    --border-info: 206 100% 50%;
    --border-info-weak: 209 82% 85%;
    --border-info-weaker: 210 100% 94%;
    --border-info-weakest: 210 100% 98%;
    --border-inverse: 224 17% 60%;
    --border-inverse-strong: 227 18% 90%;
    --border-inverse-stronger: 240 10% 96%;
    --border-inverse-strongest: 0 0% 100%;
    --border-inverse-weaker: 220 26% 30%;
    --border-inverse-weakest: 218 43% 12%;
    --border-primary: 0 0% 9%;
    --border-primary-strong: 0 0% 9%;
    --border-primary-stronger: 0 0% 9%;
    --border-primary-strongest: 0 0% 0%;
    --border-primary-weak: 0 0% 78%;
    --border-primary-weaker: 0 0% 93%;
    --border-primary-weakest: 0 0% 97%;
    --border-success: 151 55% 42%;
    --border-success-weak: 151 40% 54%;
    --border-success-weaker: 142 40% 79%;
    --border-success-weakest: 139 48% 91%;
    --border-warning: 24 94% 50%;
    --border-warning-weak: 25 100% 83%;
    --border-warning-weaker: 26 100% 92%;
    --border-warning-weakest: 24 83% 98%;
    --data-visualization-1: 231 100% 27%;
    --data-visualization-10: 0 79% 63%;
    --data-visualization-2: 144 80% 27%;
    --data-visualization-3: 144 63% 14%;
    --data-visualization-4: 207 100% 50%;
    --data-visualization-5: 220 26% 30%;
    --data-visualization-6: 263 64% 69%;
    --data-visualization-7: 263 64% 50%;
    --data-visualization-8: 224 17% 60%;
    --data-visualization-9: 0 81% 25%;
    --text: 0 0% 9%;
    --text-weak: 0 0% 52%;
    --text-weaker: 0 0% 89%;
    --text-weakest: 0 0% 93%;
    --text-destructive: 0 70% 46%;
    --text-destructive-strong: 0 82% 37%;
    --text-destructive-stronger: 0 74% 17%;
    --text-destructive-strongest: 0 61% 12%;
    --text-destructive-weak: 0 79% 83%;
    --text-error: 0 70% 46%;
    --text-error-strong: 0 81% 25%;
    --text-error-stronger: 0 74% 17%;
    --text-error-strongest: 0 61% 12%;
    --text-error-weak: 0 79% 63%;
    --text-icon: 0 0% 9%;
    --text-icon-error: 0 70% 46%;
    --text-icon-info: 208 100% 47%;
    --text-icon-inverse: 224 17% 60%;
    --text-icon-success: 144 79% 21%;
    --text-icon-warning: 13 71% 32%;
    --text-icon-weaker: 0 0% 56%;
    --text-info: 208 100% 47%;
    --text-info-strong: 206 100% 50%;
    --text-inverse: 0 0% 100%;
    --text-inverse-weak: 0 0% 93%;
    --text-inverse-weaker: 0 0% 78%;
    --text-inverse-weakest: 0 0% 52%;
    --text-link: 214 98% 44%;
    --text-link-strong: 231 100% 27%;
    --text-link-stronger: 235 94% 19%;
    --text-link-strongest: 243 90% 12%;
    --text-link-weak: 209 100% 80%;
    --text-link-destructive: 0 70% 46%;
    --text-link-destructive-strong: 0 82% 37%;
    --text-link-destructive-stronger: 0 74% 17%;
    --text-link-destructive-strongest: 0 61% 12%;
    --text-link-destructive-weak: 0 79% 83%;
    --text-primary: 0 0% 9%;
    --text-primary-strong: 231 100% 27%;
    --text-primary-stronger: 235 94% 19%;
    --text-primary-strongest: 243 90% 12%;
    --text-primary-weak: 209 100% 80%;
    --text-success: 151 55% 42%;
    --text-warning: 13 71% 32%;
    --text-warning-strong: 13 71% 32%;
  }

  .dark {
    --background: 0 0% 9%;
    --background-body: 0 0% 5%;
    --background-overlay: 0 0% 0% / 0.44;
    --background-strong: 0 0% 11%;
    --background-stronger: 0 0% 16%;
    --background-strongest: 0 0% 20%;
    --background-weak: 0 0% 9%;
    --background-destructive: 358 75% 59%;
    --background-destructive-strong: 358 86% 64%;
    --background-destructive-stronger: 358 100% 69%;
    --background-destructive-strongest: 353 90% 96%;
    --background-destructive-weak: 358 65% 40%;
    --background-destructive-weaker: 357 55% 26%;
    --background-destructive-weakest: 355 49% 15%;
    --background-error: 0 75% 48%;
    --background-error-strong: 0 84% 75%;
    --background-error-stronger: 0 88% 90%;
    --background-error-strongest: 0 90% 96%;
    --background-error-weakest: 218 43% 12%;
    --background-info: 206 100% 50%;
    --background-info-weakest: 216 50% 12%;
    --background-body-inverse: 0 0% 9%;
    --background-inverse: 0 0% 9%;
    --background-inverse-strong: 0 0% 16%;
    --background-inverse-stronger: 0 0% 31%;
    --background-primary: 0 0% 93%;
    --background-primary-strong: 0 0% 63%;
    --background-primary-stronger: 0 0% 20%;
    --background-primary-strongest: 0 0% 11%;
    --background-primary-weak: 0 0% 100%;
    --background-primary-weaker: 0 0% 100%;
    --background-primary-weakest: 0 0% 100%;
    --background-success: 151 55% 42%;
    --background-success-weakest: 145 32% 7%;
    --background-warning: 24 94% 50%;
    --background-warning-weakest: 28 100% 8%;
    --border: 0 0% 16%;
    --border-strong: 0 0% 31%;
    --border-weak: 0 0% 14%;
    --border-weaker: 0 0% 11%;
    --border-weakest: 0 0% 9%;
    --border-destructive: 358 75% 59%;
    --border-destructive-strong: 358 86% 64%;
    --border-destructive-stronger: 358 100% 69%;
    --border-destructive-strongest: 353 90% 96%;
    --border-destructive-weak: 358 65% 40%;
    --border-destructive-weaker: 357 55% 26%;
    --border-destructive-weakest: 357 34% 12%;
    --border-error: 0 75% 48%;
    --border-error-strong: 0 84% 75%;
    --border-error-stronger: 0 88% 90%;
    --border-error-strongest: 0 90% 96%;
    --border-error-weak: 0 82% 37%;
    --border-error-weaker: 0 82% 37%;
    --border-error-weakest: 0 61% 12%;
    --border-info: 206 100% 50%;
    --border-info-weak: 212 78% 23%;
    --border-info-weaker: 214 65% 18%;
    --border-info-weakest: 216 50% 12%;
    --border-inverse: 224 17% 60%;
    --border-inverse-strong: 227 18% 90%;
    --border-inverse-stronger: 240 10% 96%;
    --border-inverse-strongest: 0 0% 100%;
    --border-inverse-weaker: 220 26% 30%;
    --border-inverse-weakest: 218 43% 12%;
    --border-primary: 0 0% 93%;
    --border-primary-strong: 0 0% 93%;
    --border-primary-stronger: 0 0% 93%;
    --border-primary-strongest: 0 0% 100%;
    --border-primary-weak: 0 0% 20%;
    --border-primary-weaker: 0 0% 16%;
    --border-primary-weakest: 0 0% 11%;
    --border-success: 151 55% 42%;
    --border-success-weak: 151 52% 28%;
    --border-success-weaker: 154 51% 18%;
    --border-success-weakest: 154 48% 13%;
    --border-warning: 24 94% 50%;
    --border-warning-weak: 24 88% 20%;
    --border-warning-weaker: 25 89% 14%;
    --border-warning-weakest: 28 100% 8%;
    --data-visualization-1: 214 98% 44%;
    --data-visualization-10: 46 94% 47%;
    --data-visualization-2: 263 68% 81%;
    --data-visualization-3: 222 16% 45%;
    --data-visualization-4: 210 100% 70%;
    --data-visualization-5: 144 80% 27%;
    --data-visualization-6: 26 94% 65%;
    --data-visualization-7: 18 70% 45%;
    --data-visualization-8: 0 79% 83%;
    --data-visualization-9: 264 62% 60%;
    --text: 0 0% 93%;
    --text-weak: 0 0% 49%;
    --text-weaker: 0 0% 20%;
    --text-weakest: 0 0% 16%;
    --text-destructive: 0 79% 63%;
    --text-destructive-strong: 0 79% 83%;
    --text-destructive-stronger: 0 79% 83%;
    --text-destructive-strongest: 0 0% 100%;
    --text-destructive-weak: 220 26% 30%;
    --text-error: 0 79% 63%;
    --text-error-strong: 0 79% 83%;
    --text-error-stronger: 0 90% 96%;
    --text-error-strongest: 0 90% 96%;
    --text-error-weak: 0 79% 63%;
    --text-icon: 0 0% 93%;
    --text-icon-error: 0 79% 63%;
    --text-icon-info: 209 100% 61%;
    --text-icon-inverse: 224 17% 60%;
    --text-icon-success: 144 65% 52%;
    --text-icon-warning: 26 100% 74%;
    --text-icon-weaker: 0 0% 44%;
    --text-info: 209 100% 61%;
    --text-info-strong: 206 100% 50%;
    --text-inverse: 0 0% 100%;
    --text-inverse-weak: 0 0% 93%;
    --text-inverse-weaker: 0 0% 16%;
    --text-inverse-weakest: 0 0% 9%;
    --text-link: 207 100% 50%;
    --text-link-strong: 209 100% 80%;
    --text-link-stronger: 213 100% 96%;
    --text-link-strongest: 0 0% 100%;
    --text-link-weak: 220 26% 30%;
    --text-link-destructive: 0 79% 63%;
    --text-link-destructive-strong: 0 79% 83%;
    --text-link-destructive-stronger: 0 79% 83%;
    --text-link-destructive-strongest: 0 0% 100%;
    --text-link-destructive-weak: 220 26% 30%;
    --text-primary: 0 0% 93%;
    --text-primary-strong: 209 100% 80%;
    --text-primary-stronger: 209 100% 80%;
    --text-primary-strongest: 0 0% 100%;
    --text-primary-weak: 220 26% 30%;
    --text-success: 151 55% 42%;
    --text-warning: 26 100% 74%;
    --text-warning-strong: 23 90% 80%;
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
