@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --font-inter: "Inter", -apple-system, system-ui, BlinkMacSystemFont,
      "Helvetica Neue", "Helvetica", sans-serif;

    --background: 0 0% 99%;
    --background-body: 0 0% 100%;
    --background-overlay: 0 0% 0% / 0.44;
    --background-strong: 0 0% 97%;
    --background-stronger: 0 0% 93%;
    --background-strongest: 0 0% 89%;
    --background-weak: 0 0% 99%;
    --background-destructive: 358 75% 59%;
    --background-destructive-strong: 358 69% 55%;
    --background-destructive-stronger: 358 65% 49%;
    --background-destructive-strongest: 355 49% 15%;
    --background-destructive-weak: 359 69% 74%;
    --background-destructive-weaker: 0 81% 88%;
    --background-destructive-weakest: 0 100% 99%;
    --background-error: 0 70% 46%;
    --background-error-strong: 0 81% 25%;
    --background-error-stronger: 0 74% 17%;
    --background-error-strongest: 0 61% 12%;
    --background-error-weak: 0 82% 98%;
    --background-error-weaker: 0 88% 90%;
    --background-error-weakest: 0 82% 98%;
    --background-indigo: 226 70% 55%;
    --background-indigo-strong: 226 70% 55%;
    --background-indigo-stronger: 226 65% 45%;
    --background-indigo-strongest: 226 70% 35%;
    --background-indigo-weak: 226 75% 75%;
    --background-indigo-weaker: 224 81% 88%;
    --background-indigo-weakest: 223 100% 99%;
    --background-info: 206 100% 50%;
    --background-info-strong: 206 100% 50%;
    --background-info-stronger: 206 85% 40%;
    --background-info-strongest: 206 90% 30%;
    --background-info-weak: 209 82% 85%;
    --background-info-weaker: 210 100% 94%;
    --background-info-weakest: 210 100% 98%;
    --background-body-inverse: 0 0% 9%;
    --background-inverse: 0 0% 9%;
    --background-inverse-strong: 0 0% 56%;
    --background-inverse-stronger: 0 0% 78%;
    --background-inverse-strongest: 0 0% 100%;
    --background-inverse-weak: 0 0% 44%;
    --background-inverse-weaker: 0 0% 89%;
    --background-inverse-weakest: 0 0% 97%;
    --background-neutral: 213 100% 96%;
    --background-neutral-strong: 213 100% 96%;
    --background-neutral-stronger: 213 85% 40%;
    --background-neutral-strongest: 213 90% 30%;
    --background-neutral-weak: 209 100% 70%;
    --background-neutral-weaker: 211 100% 90%;
    --background-neutral-weakest: 212 100% 98%;
    --background-pink: 322 65% 55%;
    --background-pink-strong: 322 65% 55%;
    --background-pink-stronger: 322 70% 45%;
    --background-pink-strongest: 322 75% 35%;
    --background-pink-weak: 323 60% 72%;
    --background-pink-weaker: 323 65% 86%;
    --background-pink-weakest: 323 100% 98%;
    --background-primary: 0 0% 9%;
    --background-primary-strong: 0 0% 5%;
    --background-primary-stronger: 0 0% 5%;
    --background-primary-strongest: 0 0% 5%;
    --background-primary-weak: 0 0% 44%;
    --background-primary-weaker: 0 0% 89%;
    --background-primary-weakest: 0 0% 97%;
    --background-purple: 272 51% 54%;
    --background-purple-strong: 272 51% 54%;
    --background-purple-stronger: 272 70% 45%;
    --background-purple-strongest: 272 75% 35%;
    --background-purple-weak: 272 60% 74%;
    --background-purple-weaker: 275 65% 88%;
    --background-purple-weakest: 276 100% 99%;
    --background-success: 151 55% 42%;
    --background-success-strong: 151 55% 42%;
    --background-success-stronger: 151 65% 32%;
    --background-success-strongest: 151 70% 22%;
    --background-success-weak: 151 40% 54%;
    --background-success-weaker: 142 40% 79%;
    --background-success-weakest: 136 73% 94%;
    --background-warning: 24 94% 50%;
    --background-warning-strong: 24 94% 50%;
    --background-warning-stronger: 24 80% 40%;
    --background-warning-strongest: 24 85% 30%;
    --background-warning-weak: 25 100% 83%;
    --background-warning-weaker: 26 100% 92%;
    --background-warning-weakest: 24 83% 98%;
    --border: 0 0% 93%;
    --border-strong: 0 0% 78%;
    --border-stronger: 0 0% 78%;
    --border-strongest: 0 0% 9%;
    --border-weak: 0 0% 95%;
    --border-weaker: 0 0% 97%;
    --border-weakest: 0 0% 99%;
    --border-destructive: 358 75% 59%;
    --border-destructive-strong: 358 69% 55%;
    --border-destructive-stronger: 358 65% 49%;
    --border-destructive-strongest: 355 49% 15%;
    --border-destructive-weak: 359 69% 74%;
    --border-destructive-weaker: 0 81% 88%;
    --border-destructive-weakest: 0 100% 99%;
    --border-error: 0 70% 46%;
    --border-error-strong: 0 81% 25%;
    --border-error-stronger: 0 74% 17%;
    --border-error-strongest: 0 61% 12%;
    --border-error-weak: 0 84% 75%;
    --border-error-weaker: 0 88% 90%;
    --border-error-weakest: 0 90% 96%;
    --border-indigo: 226 70% 55%;
    --border-indigo-strong: 226 70% 55%;
    --border-indigo-stronger: 226 65% 45%;
    --border-indigo-strongest: 226 70% 35%;
    --border-indigo-weak: 226 75% 75%;
    --border-indigo-weaker: 224 81% 88%;
    --border-indigo-weakest: 223 92% 95%;
    --border-info: 206 100% 50%;
    --border-info-strong: 206 100% 50%;
    --border-info-stronger: 206 85% 40%;
    --border-info-strongest: 206 90% 30%;
    --border-info-weak: 209 82% 85%;
    --border-info-weaker: 210 100% 94%;
    --border-info-weakest: 210 100% 98%;
    --border-inverse: 224 17% 60%;
    --border-inverse-strong: 227 18% 90%;
    --border-inverse-stronger: 240 10% 96%;
    --border-inverse-strongest: 0 0% 100%;
    --border-inverse-weaker: 220 26% 30%;
    --border-inverse-weakest: 218 43% 12%;
    --border-neutral: 213 98% 44%;
    --border-neutral-strong: 213 98% 44%;
    --border-neutral-stronger: 213 85% 40%;
    --border-neutral-strongest: 213 90% 30%;
    --border-neutral-weak: 209 100% 70%;
    --border-neutral-weaker: 211 100% 90%;
    --border-neutral-weakest: 213 100% 96%;
    --border-pink: 322 65% 55%;
    --border-pink-strong: 322 65% 55%;
    --border-pink-stronger: 322 70% 45%;
    --border-pink-strongest: 322 75% 35%;
    --border-pink-weak: 323 60% 72%;
    --border-pink-weaker: 323 65% 86%;
    --border-pink-weakest: 323 79% 94%;
    --border-primary: 0 0% 9%;
    --border-primary-strong: 0 0% 9%;
    --border-primary-stronger: 0 0% 9%;
    --border-primary-strongest: 0 0% 0%;
    --border-primary-weak: 0 0% 78%;
    --border-primary-weaker: 0 0% 93%;
    --border-primary-weakest: 0 0% 97%;
    --border-purple: 272 51% 54%;
    --border-purple-strong: 272 51% 54%;
    --border-purple-stronger: 272 70% 45%;
    --border-purple-strongest: 272 75% 35%;
    --border-purple-weak: 272 60% 74%;
    --border-purple-weaker: 275 65% 88%;
    --border-purple-weakest: 274 78% 95%;
    --border-success: 151 55% 42%;
    --border-success-strong: 151 55% 42%;
    --border-success-stronger: 151 65% 32%;
    --border-success-strongest: 151 70% 22%;
    --border-success-weak: 151 40% 54%;
    --border-success-weaker: 142 40% 79%;
    --border-success-weakest: 139 48% 91%;
    --border-warning: 24 94% 50%;
    --border-warning-strong: 24 94% 50%;
    --border-warning-stronger: 24 80% 40%;
    --border-warning-strongest: 24 85% 30%;
    --border-warning-weak: 25 100% 83%;
    --border-warning-weaker: 26 100% 92%;
    --border-warning-weakest: 24 83% 98%;
    --data-visualization-1: 231 100% 27%;
    --data-visualization-2: 144 80% 27%;
    --data-visualization-3: 144 63% 14%;
    --data-visualization-4: 207 100% 50%;
    --data-visualization-5: 220 26% 30%;
    --data-visualization-6: 263 64% 69%;
    --data-visualization-7: 263 64% 50%;
    --data-visualization-8: 224 17% 60%;
    --data-visualization-9: 0 81% 25%;
    --data-visualization-10: 0 79% 63%;
    --text: 0 0% 9%;
    --text-strong: 0 0% 9%;
    --text-stronger: 0 0% 9%;
    --text-strongest: 0 0% 9%;
    --text-weak: 0 0% 52%;
    --text-weaker: 0 0% 89%;
    --text-weakest: 0 0% 93%;
    --text-destructive: 0 70% 46%;
    --text-destructive-strong: 0 82% 37%;
    --text-destructive-stronger: 0 74% 17%;
    --text-destructive-strongest: 0 61% 12%;
    --text-destructive-weak: 0 79% 83%;
    --text-destructive-weaker: 0 88% 90%;
    --text-destructive-weakest: 0 100% 99%;
    --text-error: 0 70% 46%;
    --text-error-strong: 0 81% 25%;
    --text-error-stronger: 0 74% 17%;
    --text-error-strongest: 0 61% 12%;
    --text-error-weak: 0 79% 63%;
    --text-error-weaker: 0 88% 90%;
    --text-error-weakest: 0 82% 98%;
    --text-icon: 0 0% 9%;
    --text-icon-strong: 0 0% 9%;
    --text-icon-stronger: 0 0% 9%;
    --text-icon-strongest: 0 0% 9%;
    --text-icon-error: 0 70% 46%;
    --text-icon-info: 208 100% 47%;
    --text-icon-inverse: 224 17% 60%;
    --text-icon-success: 144 79% 21%;
    --text-icon-warning: 13 71% 32%;
    --text-icon-weak: 0 0% 56%;
    --text-icon-weaker: 0 0% 56%;
    --text-icon-weakest: 0 0% 78%;
    --text-indigo: 226 70% 55%;
    --text-indigo-strong: 226 70% 55%;
    --text-indigo-stronger: 226 65% 45%;
    --text-indigo-strongest: 226 70% 35%;
    --text-indigo-weak: 226 75% 75%;
    --text-indigo-weaker: 224 81% 88%;
    --text-indigo-weakest: 223 100% 99%;
    --text-info: 208 100% 47%;
    --text-info-strong: 206 100% 50%;
    --text-info-stronger: 206 85% 40%;
    --text-info-strongest: 206 90% 30%;
    --text-info-weak: 209 82% 85%;
    --text-info-weaker: 210 100% 94%;
    --text-info-weakest: 210 100% 98%;
    --text-inverse: 0 0% 100%;
    --text-inverse-strong: 0 0% 100%;
    --text-inverse-stronger: 0 0% 100%;
    --text-inverse-strongest: 0 0% 100%;
    --text-inverse-weak: 0 0% 93%;
    --text-inverse-weaker: 0 0% 78%;
    --text-inverse-weakest: 0 0% 52%;
    --text-link: 214 98% 44%;
    --text-link-strong: 231 100% 27%;
    --text-link-stronger: 235 94% 19%;
    --text-link-strongest: 243 90% 12%;
    --text-link-weak: 209 100% 80%;
    --text-link-weaker: 210 100% 94%;
    --text-link-weakest: 210 100% 98%;
    --text-link-destructive: 0 70% 46%;
    --text-link-destructive-strong: 0 82% 37%;
    --text-link-destructive-stronger: 0 74% 17%;
    --text-link-destructive-strongest: 0 61% 12%;
    --text-link-destructive-weak: 0 79% 83%;
    --text-link-destructive-weaker: 0 88% 90%;
    --text-link-destructive-weakest: 0 100% 99%;
    --text-pink: 322 65% 55%;
    --text-pink-strong: 322 65% 55%;
    --text-pink-stronger: 322 70% 45%;
    --text-pink-strongest: 322 75% 35%;
    --text-pink-weak: 323 60% 72%;
    --text-pink-weaker: 323 65% 86%;
    --text-pink-weakest: 323 100% 98%;
    --text-primary: 0 0% 9%;
    --text-primary-strong: 231 100% 27%;
    --text-primary-stronger: 235 94% 19%;
    --text-primary-strongest: 243 90% 12%;
    --text-primary-weak: 209 100% 80%;
    --text-primary-weaker: 210 100% 94%;
    --text-primary-weakest: 210 100% 98%;
    --text-purple: 272 51% 54%;
    --text-purple-strong: 272 51% 54%;
    --text-purple-stronger: 272 70% 45%;
    --text-purple-strongest: 272 75% 35%;
    --text-purple-weak: 272 60% 74%;
    --text-purple-weaker: 275 65% 88%;
    --text-purple-weakest: 276 100% 99%;
    --text-success: 151 55% 42%;
    --text-success-strong: 151 55% 42%;
    --text-success-stronger: 151 65% 32%;
    --text-success-strongest: 151 70% 22%;
    --text-success-weak: 151 40% 54%;
    --text-success-weaker: 142 40% 79%;
    --text-success-weakest: 136 73% 94%;
    --text-warning: 13 71% 32%;
    --text-warning-strong: 13 71% 32%;
    --text-warning-stronger: 13 75% 22%;
    --text-warning-strongest: 13 80% 12%;
    --text-warning-weak: 25 100% 83%;
    --text-warning-weaker: 26 100% 92%;
    --text-warning-weakest: 24 83% 98%;
  }

  .dark {
    --background: 0 0% 9%;
    --background-body: 0 0% 5%;
    --background-overlay: 0 0% 0% / 0.44;
    --background-strong: 0 0% 11%;
    --background-stronger: 0 0% 16%;
    --background-strongest: 0 0% 20%;
    --background-weak: 0 0% 9%;
    --background-destructive: 358 75% 59%;
    --background-destructive-strong: 358 86% 64%;
    --background-destructive-stronger: 358 100% 69%;
    --background-destructive-strongest: 353 90% 96%;
    --background-destructive-weak: 358 65% 40%;
    --background-destructive-weaker: 357 55% 26%;
    --background-destructive-weakest: 355 49% 15%;
    --background-error: 0 75% 48%;
    --background-error-strong: 0 84% 75%;
    --background-error-stronger: 0 88% 90%;
    --background-error-strongest: 0 90% 96%;
    --background-error-weak: 0 82% 37%;
    --background-error-weaker: 0 82% 37%;
    --background-error-weakest: 218 43% 12%;
    --background-indigo: 226 70% 55%;
    --background-indigo-strong: 226 70% 55%;
    --background-indigo-stronger: 226 70% 45%;
    --background-indigo-strongest: 226 75% 35%;
    --background-indigo-weak: 226 58% 44%;
    --background-indigo-weaker: 226 53% 28%;
    --background-indigo-weakest: 230 36% 13%;
    --background-info: 206 100% 50%;
    --background-info-strong: 206 100% 50%;
    --background-info-stronger: 206 85% 40%;
    --background-info-strongest: 206 90% 30%;
    --background-info-weak: 212 78% 23%;
    --background-info-weaker: 214 65% 18%;
    --background-info-weakest: 216 50% 12%;
    --background-body-inverse: 0 0% 9%;
    --background-inverse: 0 0% 9%;
    --background-inverse-strong: 0 0% 16%;
    --background-inverse-stronger: 0 0% 31%;
    --background-inverse-strongest: 0 0% 44%;
    --background-inverse-weak: 0 0% 44%;
    --background-inverse-weaker: 0 0% 78%;
    --background-inverse-weakest: 0 0% 52%;
    --background-neutral: 213 98% 44%;
    --background-neutral-strong: 213 98% 44%;
    --background-neutral-stronger: 213 98% 44%;
    --background-neutral-strongest: 213 98% 44%;
    --background-neutral-weak: 221 96% 36%;
    --background-neutral-weaker: 221 96% 36%;
    --background-neutral-weakest: 216 50% 12%;
    --background-pink: 322 65% 55%;
    --background-pink-strong: 322 65% 55%;
    --background-pink-stronger: 322 70% 45%;
    --background-pink-strongest: 322 75% 35%;
    --background-pink-weak: 322 75% 37%;
    --background-pink-weaker: 321 54% 25%;
    --background-pink-weakest: 319 32% 12%;
    --background-primary: 0 0% 93%;
    --background-primary-strong: 0 0% 63%;
    --background-primary-stronger: 0 0% 20%;
    --background-primary-strongest: 0 0% 11%;
    --background-primary-weak: 0 0% 100%;
    --background-primary-weaker: 0 0% 100%;
    --background-primary-weakest: 0 0% 100%;
    --background-purple: 272 51% 54%;
    --background-purple-strong: 272 51% 54%;
    --background-purple-stronger: 272 70% 45%;
    --background-purple-strongest: 272 75% 35%;
    --background-purple-weak: 272 52% 46%;
    --background-purple-weaker: 277 46% 28%;
    --background-purple-weakest: 283 30% 12%;
    --background-success: 151 55% 42%;
    --background-success-strong: 151 55% 42%;
    --background-success-stronger: 151 65% 32%;
    --background-success-strongest: 151 70% 22%;
    --background-success-weak: 151 52% 28%;
    --background-success-weaker: 154 51% 18%;
    --background-success-weakest: 145 32% 7%;
    --background-warning: 24 94% 50%;
    --background-warning-strong: 24 94% 50%;
    --background-warning-stronger: 24 94% 50%;
    --background-warning-strongest: 24 94% 50%;
    --background-warning-weak: 24 88% 20%;
    --background-warning-weaker: 25 89% 14%;
    --background-warning-weakest: 28 100% 8%;
    --border: 0 0% 16%;
    --border-strong: 0 0% 31%;
    --border-stronger: 0 0% 16%;
    --border-strongest: 0 0% 11%;
    --border-weak: 0 0% 14%;
    --border-weaker: 0 0% 11%;
    --border-weakest: 0 0% 9%;
    --border-destructive: 358 75% 59%;
    --border-destructive-strong: 358 86% 64%;
    --border-destructive-stronger: 358 100% 69%;
    --border-destructive-strongest: 353 90% 96%;
    --border-destructive-weak: 358 65% 40%;
    --border-destructive-weaker: 357 55% 26%;
    --border-destructive-weakest: 357 34% 12%;
    --border-error: 0 75% 48%;
    --border-error-strong: 0 84% 75%;
    --border-error-stronger: 0 88% 90%;
    --border-error-strongest: 0 90% 96%;
    --border-error-weak: 0 82% 37%;
    --border-error-weaker: 0 82% 37%;
    --border-error-weakest: 0 61% 12%;
    --border-indigo: 226 70% 55%;
    --border-indigo-strong: 226 70% 55%;
    --border-indigo-stronger: 226 70% 45%;
    --border-indigo-strongest: 226 75% 35%;
    --border-indigo-weak: 226 58% 44%;
    --border-indigo-weaker: 226 53% 28%;
    --border-indigo-weakest: 227 48% 21%;
    --border-info: 206 100% 50%;
    --border-info-strong: 206 100% 50%;
    --border-info-stronger: 206 85% 40%;
    --border-info-strongest: 206 90% 30%;
    --border-info-weak: 212 78% 23%;
    --border-info-weaker: 214 65% 18%;
    --border-info-weakest: 216 50% 12%;
    --border-inverse: 224 17% 60%;
    --border-inverse-strong: 227 18% 90%;
    --border-inverse-stronger: 240 10% 96%;
    --border-inverse-strongest: 0 0% 100%;
    --border-inverse-weaker: 0 0% 63%;
    --border-inverse-weakest: 0 0% 93%;
    --border-neutral: 213 100% 49%;
    --border-neutral-strong: 213 98% 44%;
    --border-neutral-stronger: 213 98% 44%;
    --border-neutral-strongest: 213 98% 44%;
    --border-neutral-weak: 221 96% 36%;
    --border-neutral-weaker: 221 96% 36%;
    --border-neutral-weakest: 243 90% 12%;
    --border-pink: 322 65% 55%;
    --border-pink-strong: 322 65% 55%;
    --border-pink-stronger: 322 70% 45%;
    --border-pink-strongest: 322 75% 35%;
    --border-pink-weak: 322 75% 37%;
    --border-pink-weaker: 321 54% 25%;
    --border-pink-weakest: 320 45% 19%;
    --border-primary: 0 0% 93%;
    --border-primary-strong: 0 0% 93%;
    --border-primary-stronger: 0 0% 93%;
    --border-primary-strongest: 0 0% 100%;
    --border-primary-weak: 0 0% 20%;
    --border-primary-weaker: 0 0% 16%;
    --border-primary-weakest: 0 0% 11%;
    --border-purple: 272 51% 54%;
    --border-purple-strong: 272 51% 54%;
    --border-purple-stronger: 272 70% 45%;
    --border-purple-strongest: 272 75% 35%;
    --border-purple-weak: 272 52% 46%;
    --border-purple-weaker: 277 46% 28%;
    --border-purple-weakest: 280 41% 20%;
    --border-success: 151 55% 42%;
    --border-success-strong: 151 55% 42%;
    --border-success-stronger: 151 65% 32%;
    --border-success-strongest: 151 70% 22%;
    --border-success-weak: 151 52% 28%;
    --border-success-weaker: 154 51% 18%;
    --border-success-weakest: 154 48% 13%;
    --border-warning: 24 94% 50%;
    --border-warning-strong: 24 94% 50%;
    --border-warning-stronger: 24 94% 50%;
    --border-warning-strongest: 24 94% 50%;
    --border-warning-weak: 24 88% 20%;
    --border-warning-weaker: 25 89% 14%;
    --border-warning-weakest: 28 100% 8%;
    --data-visualization-1: 214 98% 44%;
    --data-visualization-2: 263 68% 81%;
    --data-visualization-3: 222 16% 45%;
    --data-visualization-4: 210 100% 70%;
    --data-visualization-5: 144 80% 27%;
    --data-visualization-6: 26 94% 65%;
    --data-visualization-7: 18 70% 45%;
    --data-visualization-8: 0 79% 83%;
    --data-visualization-9: 264 62% 60%;
    --data-visualization-10: 46 94% 47%;
    --text: 0 0% 93%;
    --text-strong: 0 0% 93%;
    --text-stronger: 0 0% 93%;
    --text-strongest: 0 0% 93%;
    --text-weak: 0 0% 49%;
    --text-weaker: 0 0% 20%;
    --text-weakest: 0 0% 16%;
    --text-destructive: 0 79% 63%;
    --text-destructive-strong: 0 79% 83%;
    --text-destructive-stronger: 0 79% 83%;
    --text-destructive-strongest: 0 0% 100%;
    --text-destructive-weak: 220 26% 30%;
    --text-destructive-weaker: 220 26% 30%;
    --text-destructive-weakest: 220 26% 30%;
    --text-error: 0 79% 63%;
    --text-error-strong: 0 79% 83%;
    --text-error-stronger: 0 90% 96%;
    --text-error-strongest: 0 90% 96%;
    --text-error-weak: 0 79% 63%;
    --text-error-weaker: 0 79% 63%;
    --text-error-weakest: 0 79% 63%;
    --text-icon: 0 0% 93%;
    --text-icon-strong: 0 0% 93%;
    --text-icon-stronger: 0 0% 93%;
    --text-icon-strongest: 0 0% 93%;
    --text-icon-error: 0 79% 63%;
    --text-icon-info: 209 100% 61%;
    --text-icon-inverse: 224 17% 60%;
    --text-icon-success: 144 65% 52%;
    --text-icon-warning: 26 100% 74%;
    --text-icon-weak: 0 0% 44%;
    --text-icon-weaker: 0 0% 44%;
    --text-icon-weakest: 0 0% 16%;
    --text-indigo: 226 70% 55%;
    --text-info: 209 100% 61%;
    --text-info-strong: 206 100% 50%;
    --text-info-stronger: 206 85% 40%;
    --text-info-strongest: 206 90% 30%;
    --text-inverse: 0 0% 100%;
    --text-inverse-strong: 0 0% 100%;
    --text-inverse-stronger: 0 0% 100%;
    --text-inverse-strongest: 0 0% 100%;
    --text-inverse-weak: 0 0% 93%;
    --text-inverse-weaker: 0 0% 16%;
    --text-inverse-weakest: 0 0% 9%;
    --text-link: 207 100% 50%;
    --text-link-strong: 209 100% 80%;
    --text-link-stronger: 213 100% 96%;
    --text-link-strongest: 0 0% 100%;
    --text-link-weak: 220 26% 30%;
    --text-link-weaker: 210 100% 94%;
    --text-link-weakest: 210 100% 98%;
    --text-link-destructive: 0 79% 63%;
    --text-link-destructive-strong: 0 79% 83%;
    --text-link-destructive-stronger: 0 79% 83%;
    --text-link-destructive-strongest: 0 0% 100%;
    --text-link-destructive-weak: 220 26% 30%;
    --text-link-destructive-weaker: 220 26% 30%;
    --text-link-destructive-weakest: 220 26% 30%;
    --text-pink: 322 65% 55%;
    --text-pink-strong: 322 65% 55%;
    --text-pink-stronger: 322 70% 45%;
    --text-pink-strongest: 322 75% 35%;
    --text-pink-weak: 323 60% 72%;
    --text-pink-weaker: 323 65% 86%;
    --text-pink-weakest: 323 100% 98%;
    --text-primary: 0 0% 93%;
    --text-primary-strong: 209 100% 80%;
    --text-primary-stronger: 209 100% 80%;
    --text-primary-strongest: 0 0% 100%;
    --text-primary-weak: 220 26% 30%;
    --text-primary-weaker: 210 100% 94%;
    --text-primary-weakest: 210 100% 98%;
    --text-purple: 272 51% 54%;
    --text-purple-strong: 272 51% 54%;
    --text-purple-stronger: 272 70% 45%;
    --text-purple-strongest: 272 75% 35%;
    --text-purple-weak: 272 60% 74%; 
    --text-purple-weaker: 275 65% 88%;
    --text-purple-weakest: 276 100% 99%;
    --text-success: 151 55% 42%;
    --text-success-weak: 151 40% 54%;
    --text-success-weaker: 142 40% 79%;
    --text-success-weakest: 136 73% 94%;
    --text-success-strong: 151 55% 42%;
    --text-success-stronger: 151 65% 32%;
    --text-success-strongest: 151 70% 22%;
    --text-warning: 26 100% 74%;
    --text-warning-strong: 23 90% 80%;
    --text-warning-stronger: 13 75% 22%;
    --text-warning-strongest: 13 80% 12%;
    --text-warning-weak: 25 100% 83%;
    --text-warning-weaker: 26 100% 92%;
    --text-warning-weakest: 24 83% 98%;
  }
}

/* From: @fiveoutofnine's `global.css` at https://github.com/fiveoutofnine/www/blob/4b9b47e63a47c06b1b925d318bc666c0b3739a79/app/globals.css#L5-L26 */
/* License: MIT */

@layer base {
  body {
    @apply bg-background;
    @apply text-text;
  }
}

html,
body,
main {
  @apply bg-background-body text-text;
}

* {
  @apply selection:bg-background-info selection:text-text-inverse;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
