@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --font-inter: "Inter", -apple-system, system-ui, BlinkMacSystemFont,
      "Helvetica Neue", "Helvetica", sans-serif;

    --color-background: #fcfcfc;
    --color-background-body: #ffffff;
    --color-background-overlay: #00000070;
    --color-background-strong: #f8f8f8;
    --color-background-stronger: #ededed;
    --color-background-strongest: #e2e2e2;
    --color-background-weak: #fcfcfc;
    --color-background-destructive: #e5484d;
    --color-background-destructive-strong: #dc3d43;
    --color-background-destructive-stronger: #cd2b31;
    --color-background-destructive-strongest: #381316;
    --color-background-destructive-weak: #eb9091;
    --color-background-destructive-weaker: #f9c6c6;
    --color-background-destructive-weakest: #fff8f8;
    --color-background-error: #c72323;
    --color-background-error-strong: #750c0c;
    --color-background-error-stronger: #4a0b0b;
    --color-background-error-strongest: #310c0c;
    --color-background-error-weakest: #fef5f5;
    --color-background-info: #0091ff;
    --color-background-info-weakest: #f5faff;
    --color-background-body-inverse: #171717;
    --color-background-inverse: #171717;
    --color-background-inverse-strong: #8f8f8f;
    --color-background-inverse-stronger: #c7c7c7;
    --color-background-primary: #171717;
    --color-background-primary-strong: #0d0d0d;
    --color-background-primary-stronger: #0d0d0d;
    --color-background-primary-strongest: #0d0d0d;
    --color-background-primary-weak: #6f6f6f;
    --color-background-primary-weaker: #e2e2e2;
    --color-background-primary-weakest: #f8f8f8;
    --color-background-success: #30a46c;
    --color-background-success-weakest: #e5fbeb;
    --color-background-warning: #f76808;
    --color-background-warning-weakest: #fef8f4;
    --color-border: #ededed;
    --color-border-strong: #c7c7c7;
    --color-border-weak: #f3f3f3;
    --color-border-weaker: #f8f8f8;
    --color-border-weakest: #fcfcfc;
    --color-border-destructive: #e5484d;
    --color-border-destructive-strong: #dc3d43;
    --color-border-destructive-stronger: #cd2b31;
    --color-border-destructive-strongest: #381316;
    --color-border-destructive-weak: #eb9091;
    --color-border-destructive-weaker: #f9c6c6;
    --color-border-destructive-weakest: #fff8f8;
    --color-border-error: #c72323;
    --color-border-error-strong: #750c0c;
    --color-border-error-stronger: #4a0b0b;
    --color-border-error-strongest: #310c0c;
    --color-border-error-weak: #f58a8a;
    --color-border-error-weaker: #fccfcf;
    --color-border-error-weakest: #feecec;
    --color-border-info: #0091ff;
    --color-border-info-weak: #b7d9f8;
    --color-border-info-weaker: #e1f0ff;
    --color-border-info-weakest: #f5faff;
    --color-border-inverse: #8891aa;
    --color-border-inverse-strong: #e1e3ea;
    --color-border-inverse-stronger: #f4f4f6;
    --color-border-inverse-strongest: #ffffff;
    --color-border-inverse-weaker: #394762;
    --color-border-inverse-weakest: #121c2d;
    --color-border-primary: #171717;
    --color-border-primary-strong: #171717;
    --color-border-primary-stronger: #171717;
    --color-border-primary-strongest: #000000;
    --color-border-primary-weak: #c7c7c7;
    --color-border-primary-weaker: #ededed;
    --color-border-primary-weakest: #f8f8f8;
    --color-border-success: #30a46c;
    --color-border-success-weak: #5bb98c;
    --color-border-success-weaker: #b4dfc4;
    --color-border-success-weakest: #ddf3e4;
    --color-border-warning: #f76808;
    --color-border-warning-weak: #ffcca7;
    --color-border-warning-weaker: #ffe8d7;
    --color-border-warning-weakest: #fef8f4;
    --color-data-visualization-1: #001489;
    --color-data-visualization-10: #eb5656;
    --color-data-visualization-2: #0e7c3a;
    --color-data-visualization-3: #0d3a1f;
    --color-data-visualization-4: #008cff;
    --color-data-visualization-5: #394762;
    --color-data-visualization-6: #a67fe3;
    --color-data-visualization-7: #6d2ed1;
    --color-data-visualization-8: #8891aa;
    --color-data-visualization-9: #750c0c;
    --color-text: #171717;
    --color-text-weak: #858585;
    --color-text-weaker: #e2e2e2;
    --color-text-weakest: #ededed;
    --color-text-destructive: #c72323;
    --color-text-destructive-strong: #ad1111;
    --color-text-destructive-stronger: #4a0b0b;
    --color-text-destructive-strongest: #310c0c;
    --color-text-destructive-weak: #f6b1b1;
    --color-text-error: #c72323;
    --color-text-error-strong: #750c0c;
    --color-text-error-stronger: #4a0b0b;
    --color-text-error-strongest: #310c0c;
    --color-text-error-weak: #eb5656;
    --color-text-icon: #171717;
    --color-text-icon-error: #c72323;
    --color-text-icon-info: #0081f1;
    --color-text-icon-inverse: #8891aa;
    --color-text-icon-success: #0b602d;
    --color-text-icon-warning: #8d3118;
    --color-text-icon-weaker: #8f8f8f;
    --color-text-info: #0081f1;
    --color-text-info-strong: #0091ff;
    --color-text-inverse: #ffffff;
    --color-text-inverse-weak: #ededed;
    --color-text-inverse-weaker: #c7c7c7;
    --color-text-inverse-weakest: #858585;
    --color-text-link: #0263e0;
    --color-text-link-strong: #001489;
    --color-text-link-stronger: #030b5d;
    --color-text-link-strongest: #06033a;
    --color-text-link-weak: #99cdff;
    --color-text-link-destructive: #c72323;
    --color-text-link-destructive-strong: #ad1111;
    --color-text-link-destructive-stronger: #4a0b0b;
    --color-text-link-destructive-strongest: #310c0c;
    --color-text-link-destructive-weak: #f6b1b1;
    --color-text-primary: #171717;
    --color-text-primary-strong: #001489;
    --color-text-primary-stronger: #030b5d;
    --color-text-primary-strongest: #06033a;
    --color-text-primary-weak: #99cdff;
    --color-text-success: #30a46c;
    --color-text-warning: #8d3118;
    --color-text-warning-strong: #8d3118;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --color-background: #161616;
    --color-background-body: #0d0d0d;
    --color-background-overlay: #00000070;
    --color-background-strong: #1c1c1c;
    --color-background-stronger: #282828;
    --color-background-strongest: #343434;
    --color-background-weak: #161616;
    --color-background-destructive: #e5484d;
    --color-background-destructive-strong: #f2555a;
    --color-background-destructive-stronger: #ff6369;
    --color-background-destructive-strongest: #feecee;
    --color-background-destructive-weak: #aa2429;
    --color-background-destructive-weaker: #671e22;
    --color-background-destructive-weakest: #381316;
    --color-background-error: #d61f1f;
    --color-background-error-strong: #f58a8a;
    --color-background-error-stronger: #fccfcf;
    --color-background-error-strongest: #feecec;
    --color-background-error-weakest: #121c2d;
    --color-background-info: #0091ff;
    --color-background-info-weakest: #0f1b2d;
    --color-background-body-inverse: #161616;
    --color-background-inverse: #161616;
    --color-background-inverse-strong: #282828;
    --color-background-inverse-stronger: #505050;
    --color-background-primary: #ededed;
    --color-background-primary-strong: #a0a0a0;
    --color-background-primary-stronger: #343434;
    --color-background-primary-strongest: #1c1c1c;
    --color-background-primary-weak: #ffffff;
    --color-background-primary-weaker: #ffffff;
    --color-background-primary-weakest: #ffffff;
    --color-background-success: #30a46c;
    --color-background-success-weakest: #0d1912;
    --color-background-warning: #f76808;
    --color-background-warning-weakest: #2b1400;
    --color-border: #282828;
    --color-border-strong: #505050;
    --color-border-weak: #232323;
    --color-border-weaker: #1c1c1c;
    --color-border-weakest: #161616;
    --color-border-destructive: #e5484d;
    --color-border-destructive-strong: #f2555a;
    --color-border-destructive-stronger: #ff6369;
    --color-border-destructive-strongest: #feecee;
    --color-border-destructive-weak: #aa2429;
    --color-border-destructive-weaker: #671e22;
    --color-border-destructive-weakest: #291415;
    --color-border-error: #d61f1f;
    --color-border-error-strong: #f58a8a;
    --color-border-error-stronger: #fccfcf;
    --color-border-error-strongest: #feecec;
    --color-border-error-weak: #ad1111;
    --color-border-error-weaker: #ad1111;
    --color-border-error-weakest: #310c0c;
    --color-border-info: #0091ff;
    --color-border-info-weak: #0d3868;
    --color-border-info-weaker: #102a4c;
    --color-border-info-weakest: #0f1b2d;
    --color-border-inverse: #8891aa;
    --color-border-inverse-strong: #e1e3ea;
    --color-border-inverse-stronger: #f4f4f6;
    --color-border-inverse-strongest: #ffffff;
    --color-border-inverse-weaker: #394762;
    --color-border-inverse-weakest: #121c2d;
    --color-border-primary: #ededed;
    --color-border-primary-strong: #ededed;
    --color-border-primary-stronger: #ededed;
    --color-border-primary-strongest: #ffffff;
    --color-border-primary-weak: #343434;
    --color-border-primary-weaker: #282828;
    --color-border-primary-weakest: #1c1c1c;
    --color-border-success: #30a46c;
    --color-border-success-weak: #236e4a;
    --color-border-success-weaker: #164430;
    --color-border-success-weakest: #113123;
    --color-border-warning: #f76808;
    --color-border-warning-weak: #5f2a06;
    --color-border-warning-weaker: #441f04;
    --color-border-warning-weakest: #2b1400;
    --color-data-visualization-1: #0263e0;
    --color-data-visualization-10: #e8b407;
    --color-data-visualization-2: #c8aff0;
    --color-data-visualization-3: #606b85;
    --color-data-visualization-4: #66b3ff;
    --color-data-visualization-5: #0e7c3a;
    --color-data-visualization-6: #fa9950;
    --color-data-visualization-7: #c35323;
    --color-data-visualization-8: #f6b1b1;
    --color-data-visualization-9: #8c5bd8;
    --color-text: #ededed;
    --color-text-weak: #7e7e7e;
    --color-text-weaker: #343434;
    --color-text-weakest: #282828;
    --color-text-destructive: #eb5656;
    --color-text-destructive-strong: #f6b1b1;
    --color-text-destructive-stronger: #f6b1b1;
    --color-text-destructive-strongest: #ffffff;
    --color-text-destructive-weak: #394762;
    --color-text-error: #eb5656;
    --color-text-error-strong: #f6b1b1;
    --color-text-error-stronger: #feecec;
    --color-text-error-strongest: #feecec;
    --color-text-error-weak: #eb5656;
    --color-text-icon: #ededed;
    --color-text-icon-error: #eb5656;
    --color-text-icon-info: #369eff;
    --color-text-icon-inverse: #8891aa;
    --color-text-icon-success: #36d576;
    --color-text-icon-warning: #ffb37a;
    --color-text-icon-weaker: #707070;
    --color-text-info: #369eff;
    --color-text-info-strong: #0091ff;
    --color-text-inverse: #ffffff;
    --color-text-inverse-weak: #ededed;
    --color-text-inverse-weaker: #282828;
    --color-text-inverse-weakest: #161616;
    --color-text-link: #008cff;
    --color-text-link-strong: #99cdff;
    --color-text-link-stronger: #ebf4ff;
    --color-text-link-strongest: #ffffff;
    --color-text-link-weak: #394762;
    --color-text-link-destructive: #eb5656;
    --color-text-link-destructive-strong: #f6b1b1;
    --color-text-link-destructive-stronger: #f6b1b1;
    --color-text-link-destructive-strongest: #ffffff;
    --color-text-link-destructive-weak: #394762;
    --color-text-primary: #ededed;
    --color-text-primary-strong: #99cdff;
    --color-text-primary-stronger: #99cdff;
    --color-text-primary-strongest: #ffffff;
    --color-text-primary-weak: #394762;
    --color-text-success: #30a46c;
    --color-text-warning: #ffb37a;
    --color-text-warning-strong: #fac2a0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
