[package]
name = "embedded-scopelint"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

publish = false

[dependencies]
clap = { version = "4.4.1", features = ["derive"] }
scopelint = "0.0.18"
