[package]
  name = "lightdotso-tracing"

  version.workspace = true
  edition.workspace = true
  rust-version.workspace = true
  license.workspace = true
  homepage.workspace = true
  repository.workspace = true

[dependencies]
  base64 = { workspace = true }
  dotenvy = { workspace = true }
  eyre = { workspace = true }
  lazy_static = { workspace = true }
  metrics = "0.21.1"
  opentelemetry = { workspace = true }
  opentelemetry-otlp = { workspace = true }
  opentelemetry_sdk = { workspace = true }
  pyroscope = "0.5.7"
  pyroscope_pprofrs = "0.2.7"
  tokio = { workspace = true }
  tonic = { workspace = true }
  tracing = "0.1.40"
  tracing-appender = "0.2.2"
  tracing-futures = "0.2.5"
  tracing-loki = { version = "0.2.2", features = ["rustls", "native-tls"] }
  tracing-opentelemetry = "0.21.0"
  tracing-subscriber = { version = "0.3.17", features = [
    "ansi",
    "env-filter",
    "fmt",
    "json",
    "std",
  ] }
