name: Android
on:
  push:
    branches:
      - main
  pull_request:
  pull_request_target:
    types:
      - labeled
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  android-turbo:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      trigger: ${{ steps.turbo.outputs.trigger }}
    steps:
      - name: Turbo Trigger
        id: turbo
        uses: wallet-rs/wallet-rs/.github/actions/turbo-trigger@main
        with:
          workspace: "@lightdotso/android"
  android-lint:
    if: needs.android-turbo.outputs.trigger == 'true'
    needs:
      - android-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Install Rust Toolchain
        uses: mkroening/rust-toolchain-toml@main
      - name: Java Install
        uses: wallet-rs/wallet-rs/.github/actions/java-install@main
      - name: Gradle Lint
        run: |
          ./gradlew lint
      - uses: yutailang0119/action-android-lint@v3
        with:
          report-path: build/reports/*.xml
        continue-on-error: false
  android-test:
    if: needs.android-turbo.outputs.trigger == 'true'
    needs:
      - android-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Install Rust Toolchain
        uses: mkroening/rust-toolchain-toml@main
      - name: Java Install
        uses: wallet-rs/wallet-rs/.github/actions/java-install@main
      - name: Gradle Build
        run: |
          ./gradlew assembleDebug --stacktrace
      - name: Gradle Test
        run: |
          ./gradlew test
  android-check:
    needs:
      - android-turbo
      - android-lint
      - android-test
    if: always()
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips:
            - android-lint
            - android-test
          jobs: ${{ toJSON(needs) }}
