name: Contracts
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  FOUNDRY_PROFILE: ci
jobs:
  contracts-turbo:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      trigger: ${{ steps.turbo.outputs.trigger }}
    steps:
      - name: Turbo Trigger
        id: turbo
        uses: wallet-rs/wallet-rs/.github/actions/turbo-trigger@main
        with:
          workspace: "@lightdotso/contracts"
  contracts-build:
    if: needs.contracts-turbo.outputs.trigger == 'true'
    needs:
      - contracts-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Deps
        run: |
          forge install
      - name: Run Build
        run: |
          forge build
  contracts-lint:
    if: needs.contracts-turbo.outputs.trigger == 'true'
    needs:
      - contracts-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Deps
        run: |
          forge install
      - name: Contracts Lint
        run: |
          forge fmt --check
  contracts-storage:
    if: needs.contracts-turbo.outputs.trigger == 'true'
    needs:
      - contracts-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Deps
        run: |
          forge install
      - name: Run Build
        run: |
          forge build
      - name: Storage Check
        run: |
          for ((i=1; i<=3; i++));
            do make storage-layout;
          done
      - name: Check Storage Changes
        run: |
          git diff --quiet
      - if: failure()
        name: Show Storage Changes
        run: |
          git diff
  contracts-test:
    if: needs.contracts-turbo.outputs.trigger == 'true'
    needs:
      - contracts-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Deps
        run: |
          forge install
      - name: Run Test
        run: |
          forge test
      - name: Check Gas Snapshots
        run: |
          forge snapshot --check
      - name: Run Coverage
        run: |
          forge coverage --report lcov
      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: false
  contracts-hardhat:
    if: needs.contracts-turbo.outputs.trigger == 'true'
    needs:
      - contracts-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    env:
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Hardhat Test
        run: |
          pnpm turbo run test-hh
  contracts-nargo:
    if: needs.contracts-turbo.outputs.trigger == 'true'
    needs:
      - contracts-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    env:
      FOUNDRY_PROFILE: noir
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.2
        with:
          toolchain: v0.6.0
      - name: Run Test
        working-directory: contracts/circuits
        run: |
          nargo test
      - name: Install Deps
        run: |
          forge install
      - name: Run Test
        run: |
          forge test
  contracts-slither:
    if: needs.contracts-turbo.outputs.trigger == 'true'
    needs:
      - contracts-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Run Slither
        uses: crytic/slither-action@v0.3.0
        id: slither
        with:
          fail-on: none
          sarif: results.sarif
          target: contracts/src/
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}
  contracts-check:
    if: always()
    needs:
      - contracts-build
      - contracts-lint
      - contracts-storage
      - contracts-test
      - contracts-hardhat
      - contracts-nargo
      - contracts-slither
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: contracts-build,contracts-lint,contracts-storage,contracts-test,contracts-hardhat,contracts-nargo,contracts-slither
          jobs: ${{ toJSON(needs) }}
