name: Deploy
on:
  push:
    branches:
      - main
  pull_request:
  pull_request_target:
    types:
      - labeled
  merge_group:
  workflow_dispatch:
    inputs:
      group:
        type: choice
        default: graph
        description: "Group to deploy"
        options:
          - graph
        required: true
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  deploy-filter:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      checkly: ${{ steps.filter.outputs.checkly }}
    steps:
      - name: Fetch Head
        uses: actions/checkout@v4
      - name: Paths Filter
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            checkly:
              - '**/__checks__/**'
  deploy-checkly:
    if: needs.deploy-filter.outputs.checkly == 'true'
    needs:
      - deploy-filter
    runs-on: ubuntu-latest
    env:
      CHECKLY_API_KEY: ${{ secrets.CHECKLY_API_KEY }}
      CHECKLY_ACCOUNT_ID: ${{ secrets.CHECKLY_ACCOUNT_ID }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    permissions:
      contents: read
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v4
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - if: github.event_name == 'push'
        name: Deploy Checkly
        run: |
          pnpm run deploy:checkly
      - if: github.event_name != 'push'
        name: Deploy Checkly
        run: |
          pnpm run deploy:checkly --preview
  deploy-graph:
    # if: github.event_name == 'workflow_dispatch' && inputs.group == 'graph'
    runs-on: ubuntu-latest
    env:
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    permissions:
      contents: read
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v4
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Graph Auth
        run: |
          graph auth --product hosted-service ${{ secrets.GRAPH_API_TOKEN }}
      - name: Deploy Graph
        run: |
          pnpm run deploy:graph:hosted
  deploy-check:
    if: always()
    needs:
      - deploy-filter
      - deploy-checkly
      - deploy-graph
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: deploy-checkly
          jobs: ${{ toJSON(needs) }}
