name: Fastlane
on:
  push:
    branches:
      - main
  pull_request:
  pull_request_target:
    types:
      - labeled
  merge_group:
  release:
    types: created
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
jobs:
  fastlane-turbo:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      trigger: ${{ steps.turbo.outputs.trigger }}
    steps:
      - name: Turbo Trigger
        id: turbo
        uses: wallet-rs/wallet-rs/.github/actions/turbo-trigger@main
        with:
          workspace: "@lightdotso/fastlane"
  fastlane-android:
    if: needs.fastlane-turbo.outputs.trigger == 'true' && github.event_name != 'release' || startsWith(github.ref, 'refs/tags/@lightdotso/android') && github.event_name == 'release'
    needs:
      - fastlane-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    permissions:
      contents: read
    steps:
      - name: Fetch Head
        uses: actions/checkout@v4
      - name: Install Rust Toolchain
        uses: mkroening/rust-toolchain-toml@main
      - name: Install Ruby Bundler
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Java Install
        uses: wallet-rs/wallet-rs/.github/actions/java-install@main
      - name: Export Play Store Key
        run: |
          echo $PLAY_STORE_JSON_KEY > play_store_key.json
        env:
          PLAY_STORE_JSON_KEY: ${{ secrets.PLAY_STORE_JSON_KEY }}
      - name: Android Build
        if: github.event_name == 'push'
        run: |
          bundle exec fastlane android build
      - name: Android Production
        if: github.event_name == 'merge_group'
        continue-on-error: true
        run: |
          bundle exec fastlane android production
      - name: Android Dev
        if: github.event_name == 'pull_request'
        continue-on-error: true
        run: |
          bundle exec fastlane android dev
        env:
          GH_NUMBER: ${{ github.event.pull_request.number }}
  fastlane-ios:
    if: needs.fastlane-turbo.outputs.trigger == 'true' && github.event_name != 'release' || startsWith(github.ref, 'refs/tags/@lightdotso/ios') && github.event_name == 'release'
    needs:
      - fastlane-turbo
    runs-on: macos-latest
    timeout-minutes: 90
    permissions:
      contents: read
    steps:
      - name: Fetch Head
        uses: actions/checkout@v4
      - name: Rust Install
        uses: wallet-rs/wallet-rs/.github/actions/rust-install@main
      - name: Install Ruby Bundler
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.1"
      - name: Make iOS
        run: |
          make ios
      - name: Node Build
        run: |
          pnpm run build:turbo
        # env:
        #   JITSU_JS_KEY: ${{ secrets.JITSU_JS_KEY }}
      - name: iOS Build
        if: github.event_name == 'push'
        run: |
          bundle exec fastlane ios build
        env:
          APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APPLE_KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
          GIT_AUTHORIZATION: ${{ secrets.BOT_TOKEN }}
          TEMP_KEYCHAIN_PASSWORD: ${{ secrets.TEMP_KEYCHAIN_PASSWORD }}
          TEMP_KEYCHAIN_USER: ${{ secrets.TEMP_KEYCHAIN_USER }}
          DEVELOPER_APP_ID: ${{ secrets.DEVELOPER_APP_ID }}
          DEVELOPER_APP_IDENTIFIER: ${{ secrets.DEVELOPER_APP_IDENTIFIER }}
          PROVISIONING_PROFILE_SPECIFIER: ${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      - name: iOS Production
        if: github.event_name == 'merge_group'
        run: |
          bundle exec fastlane ios production
        env:
          APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APPLE_KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
          GIT_AUTHORIZATION: ${{ secrets.BOT_TOKEN }}
          TEMP_KEYCHAIN_PASSWORD: ${{ secrets.TEMP_KEYCHAIN_PASSWORD }}
          TEMP_KEYCHAIN_USER: ${{ secrets.TEMP_KEYCHAIN_USER }}
          DEVELOPER_APP_ID: ${{ secrets.DEVELOPER_APP_ID }}
          DEVELOPER_APP_IDENTIFIER: ${{ secrets.DEVELOPER_APP_IDENTIFIER }}
          PROVISIONING_PROFILE_SPECIFIER: ${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      - name: iOS Dev
        if: github.event_name == 'pull_request'
        run: |
          bundle exec fastlane ios dev
        env:
          APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APPLE_KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
          GH_NUMBER: ${{ github.event.pull_request.number }}
          GIT_AUTHORIZATION: ${{ secrets.BOT_TOKEN }}
          TEMP_KEYCHAIN_PASSWORD: ${{ secrets.TEMP_KEYCHAIN_PASSWORD }}
          TEMP_KEYCHAIN_USER: ${{ secrets.TEMP_KEYCHAIN_USER }}
          DEVELOPER_APP_ID: ${{ secrets.DEVELOPER_APP_ID }}
          DEVELOPER_APP_IDENTIFIER: ${{ secrets.DEVELOPER_APP_IDENTIFIER }}
          PROVISIONING_PROFILE_SPECIFIER: ${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
  fastlane-check:
    if: always()
    needs:
      - fastlane-turbo
      - fastlane-android
      - fastlane-ios
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: fastlane-android,fastlane-ios
          jobs: ${{ toJSON(needs) }}
