name: iOS
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  RUSTFLAGS: -D warnings
  CARGO_TERM_COLOR: always
jobs:
  ios-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Cache Homebrew packages
        uses: actions/cache@v2
        with:
          path: /home/linuxbrew/.linuxbrew/Homebrew/Library/Homebrew/vendor
          key: ${{ runner.os }}-brew-${{ hashFiles('**/Brewfile.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-brew-
      - name: Install Homebrew dependencies
        run: |
          brew update
          brew bundle --file=./Brewfile
      - name: Run swiftlint
        run: |
          swiftlint
      - name: Run swift-format
        run: |
          swift-format lint --recursive .
  ios-test:
    runs-on: macos-latest
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Rust Install
        uses: wallet-rs/wallet-rs/.github/actions/rust-install@main
        with:
          sccache_endpoint: ${{ secrets.SCCACHE_ENDPOINT }}
          sccache_key_id: ${{ secrets.SCCACHE_KEY_ID }}
          sccache_secret: ${{ secrets.SCCACHE_SECRET }}
      - name: Install Ruby Bundler
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.1"
      - name: Node Build
        run: |
          pnpm run build
      - name: Make iOS
        run: |
          make ios
      - name: Run Unit Tests
        run: |
          bundle exec fastlane test
        continue-on-error: true
        env:
          APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APPLE_KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
          GIT_AUTHORIZATION: ${{ secrets.BOT_TOKEN }}
          TEMP_KEYCHAIN_PASSWORD: ${{ secrets.TEMP_KEYCHAIN_PASSWORD }}
          TEMP_KEYCHAIN_USER: ${{ secrets.TEMP_KEYCHAIN_USER }}
          DEVELOPER_APP_ID: ${{ secrets.DEVELOPER_APP_ID }}
          DEVELOPER_APP_IDENTIFIER: ${{ secrets.DEVELOPER_APP_IDENTIFIER }}
          PROVISIONING_PROFILE_SPECIFIER: ${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      - if: github.event_name == 'pull_request'
        uses: mobile-dev-inc/action-maestro-cloud@main
        continue-on-error: true
        with:
          api-key: ${{ secrets.MAESTRO_CLOUD_API_KEY }}
          name: ${{ github.sha }}
          app-file: LightWalletDev.xcarchive/Products/Applications/LightWalletDev.app
          workspace: ios/.mobiledev
  ios-check:
    if: always()
    needs:
      - ios-lint
      - ios-test
    runs-on: ubuntu-latest
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
