name: Kubernetes
on:
  workflow_run:
    workflows:
      - docker
    types:
      - completed
jobs:
  k8s-dev:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: get pods
  k8s-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Scan repo with kube-linter
        uses: stackrox/kube-linter-action@v1.0.4
        with:
          directory: pods
          format: sarif
          output-file: kube-linter.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: kube-linter.sarif
  k8s-check:
    if: always()
    needs:
      - k8s-lint
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
