name: Kubernetes
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  release:
    types: created
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  k8s-wait-docker:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Wait Docker
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.ref }}
          check-name: docker
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
          allowed-conclusions: success,skipped
  k8s-deploy-serve:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: set image deployment/serve serve=ghcr.io/lightdotso/lightdotso:main
      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: rollout status deployment/serve
  k8s-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Scan repo with kube-linter
        uses: stackrox/kube-linter-action@v1.0.4
        with:
          directory: pods
          format: sarif
          output-file: kube-linter.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: kube-linter.sarif
  k8s-check:
    if: always()
    needs:
      - k8s-lint
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
