name: Neon
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed
      - opened
      - synchronize
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  FOUNDRY_PROFILE: ci
jobs:
  neon-turbo:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      trigger: ${{ steps.turbo.outputs.trigger }}
    steps:
      - name: Turbo Trigger
        id: turbo
        uses: wallet-rs/wallet-rs/.github/actions/turbo-trigger@main
        with:
          workspace: "@lightdotso/prisma"
  neon-deploy:
    if: needs.neon-turbo.outputs.trigger == 'true' && github.event.pull_request.merged == true || github.event_name == 'push'
    needs:
      - neon-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Get source branch
        id: get_source_branch
        run: |
          export LATEST_LOG=$(git log -1 --pretty=%B)
          export SOURCE_BRANCH=$(echo $LATESTLOG | awk -F '\\\\n' '{print $1}' |  awk -F '/' '{print $2}' | awk '{print $1}')
          echo branch=$SOURCE_BRANCH  >> $GITHUB_OUTPUT
      - name: Search branch by ref
        id: get_branch_id
        run: |
          branch_id=$(curl --silent \
            "https://console.neon.tech/api/v2/projects/${{ secrets.NEON_PROJECT_ID }}/branches" \
            --header "Accept: application/json" \
            --header "Content-Type: application/json" \
            --header "Authorization: Bearer ${{ secrets.NEON_API_KEY }}" \
            | jq -r .branches \
            | jq -c '.[] | select(.name | contains("'${{ steps.get_source_branch.outputs.branch }}'")) .id' \
            | jq -r \
            ) \
          echo "branch_id=${branch_id}" >> $GITHUB_OUTPUT
      - name: Delete Neon Branch
        uses: neondatabase/delete-branch-action@v2
        with:
          project_id: ${{ secrets.NEON_PROJECT_ID }}
          branch_id: ${{ steps.get_branch_id.outputs.branch_id }}
          api_key: ${{ secrets.NEON_API_KEY }}
      - name: Get merge queue commit SHA
        id: get_merge_sha
        run: |
          echo sha="${{ github.event.before }}" | cut -c1-8 >> $GITHUB_OUTPUT
      - name: Search merge branch by ref
        id: get_merge_branch_id
        run: |
          branch_id=$(curl --silent \
            "https://console.neon.tech/api/v2/projects/${{ secrets.NEON_PROJECT_ID }}/branches" \
            --header "Accept: application/json" \
            --header "Content-Type: application/json" \
            --header "Authorization: Bearer ${{ secrets.NEON_API_KEY }}" \
            | jq -r .branches \
            | jq -c '.[] | select(.name | contains("'${{ steps.get_merge_sha.outputs.sha }}'")) .id' \
            | jq -r \
            ) \
          echo "branch_id=${branch_id}" >> $GITHUB_OUTPUT
      - name: Delete Neon Branch
        uses: neondatabase/delete-branch-action@v2
        with:
          project_id: ${{ secrets.NEON_PROJECT_ID }}
          branch_id: ${{ steps.get_merge_branch_id.outputs.branch_id }}
          api_key: ${{ secrets.NEON_API_KEY }}
      - name: Remove Vercel Environments
        run: |
          pnpm vercel env rm PGHOST preview ${{ steps.get_source_branch.outputs.branch }}
          pnpm vercel env rm DATABASE_URL preview ${{ steps.get_source_branch.outputs.branch }}
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      - name: Prisma Migrate Deploy
        working-directory: configurations/prisma
        run: |
          pnpm run build
          pnpm run db:migrate:deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}/neondb?pgbouncer=true&connect_timeout=10
          DIRECT_DATABASE_URL: ${{ secrets.DIRECT_DATABASE_URL }}/neondb?connect_timeout=10
  neon-deploy-preview:
    if: needs.neon-turbo.outputs.trigger == 'true' && github.event.pull_request.merged == false && github.event_name == 'pull_request' || github.event.action == 'opened'
    needs:
      - neon-turbo
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BOT_TOKEN }}
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Get Vercel Secrets
        working-directory: configurations/prisma
        run: |
          pnpm vercel env pull --environment=preview --git-branch=${{ github.head_ref }} .env
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      - name: Prisma Migrate Deploy
        working-directory: configurations/prisma
        run: |
          pnpm run build
          pnpm run db:migrate:dev
          pnpm run db:migrate:deploy
      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v4
  neon-check:
    if: always()
    needs:
      - neon-deploy
      - neon-deploy-preview
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: neon-deploy,neon-deploy-preview
          jobs: ${{ toJSON(needs) }}
