name: Node
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  RUSTFLAGS: -D warnings
  CARGO_TERM_COLOR: always
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
jobs:
  node-build:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Node Build
        run: |
          pnpm turbo run build
  node-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Node Lint
        run: |
          pnpm turbo run lint
  node-test:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Node Test
        run: |
          pnpm turbo run test
  node-check:
    if: always()
    needs:
      - node-build
      - node-lint
      - node-test
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
