name: Rust
on:
  push:
    branches:
      - main
  pull_request:
  pull_request_target:
    types:
      - labeled
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
jobs:
  rust-turbo:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      trigger: ${{ steps.turbo.outputs.trigger }}
    steps:
      - name: Turbo Trigger
        id: turbo
        uses: wallet-rs/wallet-rs/.github/actions/turbo-trigger@main
        with:
          workspace: "@lightdotso/crates"
  rust:
    strategy:
      matrix:
        include:
          - name: Workspace
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            package: --workspace
            clippy: true
            test: true
            workspace: true
            partition: 1
            job-total: 3
          - name: Workspace
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            package: --workspace
            clippy: true
            test: true
            workspace: true
            partition: 2
            job-total: 3
          - name: Workspace
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            package: --workspace
            clippy: true
            test: true
            workspace: true
            partition: 3
            job-total: 3
          - name: Android
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            package: --package lightwallet-core
            clippy: false
            test: false
            workspace: false
          - name: iOS
            os: macos-latest
            target: x86_64-apple-darwin
            package: --package lightwallet-core
            clippy: false
            test: true
            workspace: false
            partition: 1
            job-total: 1
    if: needs.rust-turbo.outputs.trigger == 'true'
    needs:
      - rust-turbo
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Rust Install
        uses: wallet-rs/wallet-rs/.github/actions/rust-install@main
      - name: Rust Format Check
        run: |
          cargo fmt --all --check
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - if: matrix.workspace
        name: Node Build
        run: |
          pnpm turbo run build
      - if: matrix.workspace
        name: Docker Compose Up
        run: |
          docker-compose up -d --build
      - if: matrix.workspace
        name: Make Install
        run: |
          make install
      - name: Make Prisma
        run: |
          pnpm turbo run prisma
      - if: matrix.workspace
        name: Deny Check
        run: |
          cargo deny check
      - if: matrix.test
        name: Rust Coverage
        run: |
          cargo llvm-cov nextest --lcov --output-path lcov.info \
          --locked --all-features ${{ matrix.package }} \
          --partition hash:${{ matrix.partition }}/${{ matrix.job-total }}
      - if: matrix.test
        name: Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          files: lcov.info
          flags: rust
      - if: matrix.clippy && matrix.partition == 1
        name: Run Clippy
        run: |
          cargo clippy \
            --all-features \
            ${{ matrix.package }} \
            --message-format=json | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true
      - if: matrix.clippy
        name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        continue-on-error: true
        with:
          sarif_file: rust-clippy-results.sarif
      - if: always()
        name: Rust Finish
        uses: wallet-rs/wallet-rs/.github/actions/rust-finish@main
  rust-check:
    if: always()
    needs:
      - rust-turbo
      - rust
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: rust
          jobs: ${{ toJSON(needs) }}
