name: Rust
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
jobs:
  rust-turbo:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      trigger: ${{ steps.turbo.outputs.trigger }}
    steps:
      - name: Turbo Trigger
        id: turbo
        uses: wallet-rs/wallet-rs/.github/actions/turbo-trigger@main
        with:
          workspace: "@lightdotso/crates"
  rust:
    strategy:
      matrix:
        include:
          - name: Workspace
            os: ubuntu-latest-large
            target: x86_64-unknown-linux-gnu
            package: --workspace
            clippy: true
            test: true
            workspace: true
          - name: Android
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            package: --package lightwallet-core
            clippy: false
            test: false
            workspace: false
          - name: iOS
            os: macos-latest
            target: x86_64-apple-darwin
            package: --package lightwallet-core
            clippy: false
            test: true
            workspace: false
    if: needs.rust-turbo.outputs.trigger == 'true'
    needs:
      - rust-turbo
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_BUCKET: sccache
      SCCACHE_ENDPOINT: ${{ secrets.SCCACHE_ENDPOINT }}
      SCCACHE_REGION: auto
      AWS_ACCESS_KEY_ID: ${{ secrets.SCCACHE_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.SCCACHE_SECRET_ACCESS_KEY }}
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Fetch Head
        uses: actions/checkout@v3
      - name: Install Rust Toolchain
        uses: mkroening/rust-toolchain-toml@main
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.3
      - if: runner.os == 'Linux'
        name: Install missing dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libwebkit2gtk-4.0-dev build-essential curl wget libglib2.0-dev libssl-dev libgtk-3-dev libappindicator3-dev librsvg2-dev libappindicator-dev libgdk3.0-cil libatk1.0-dev
      - name: Rust Format Check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --check
      - name: Node Install
        uses: wallet-rs/wallet-rs/.github/actions/node-install@main
      - if: matrix.workspace
        name: Node Build
        run: |
          pnpm turbo run build
      - if: matrix.workspace
        name: Make Install
        run: |
          make install
      - name: Make Prisma
        run: |
          pnpm turbo run prisma
      - name: Rust Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target ${{ matrix.target }} ${{ matrix.package }}
      - if: matrix.workspace
        name: Deny Check
        run: |
          cargo deny check
      - if: matrix.test
        name: Rust Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target ${{ matrix.target }} ${{ matrix.package }}
      - if: matrix.test
        name: Rust Coverage Install
        uses: taiki-e/install-action@cargo-llvm-cov
      - if: matrix.test
        name: Rust Coverage
        run: |
          cargo llvm-cov --all-features ${{ matrix.package }} --lcov --output-path lcov.info
      - if: matrix.test
        name: Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          files: lcov.info
          flags: rust
      - if: matrix.clippy
        name: Run Clippy
        run: |
          cargo clippy \
            --all-features \
            ${{ matrix.package }} \
            --message-format=json | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true
      - if: matrix.clippy
        name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        continue-on-error: true
        with:
          sarif_file: rust-clippy-results.sarif
      - if: always()
        name: Rust Finish
        uses: wallet-rs/wallet-rs/.github/actions/rust-finish@main
  rust-check:
    if: always()
    needs:
      - rust-turbo
      - rust
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check All Green
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: rust
          jobs: ${{ toJSON(needs) }}
